
<!doctype html>
<html>
  <div class="container-fluid">
    <head>
        <% include partials/head %>
        <script src="https://d3js.org/d3.v5.min.js"></script>
    </head>
    <body>
        <nav>
            <% include partials/header %>
        </nav>
        <div id="content">
        <content>
            <div id="projects">
                <p>Apple: AAPL</p>
                <p>current share price:</p>
                <svg id="aapl" style="border:1px solid black"></svg>
                <p>forward P/E:</p>
                <p>forward P/S:</p>
            </div>
        </content>
        </div>
    </body>
    <script src="../graphs/aaplprice.js"></script> 
    <div id="content">
        <footer><% include partials/footer %></footer>
    </div>
  </div>
</html>
