<div id="footer">
    <table>
      <tr>
        <td style="padding-left: 0px"><a href="mailto:chi-chu@tschang.net" target="_blank"><i class="fa-regular fa-envelope" aria-hidden="true"></i></a></td>
        <td style="padding-left: 10px"><a href="https://pgp.mit.edu/pks/lookup?op=get&search=0x152A5675369F6C28" target="_blank"><i class="fa-solid fa-key" aria-hidden="true"></i></a></td>
        <td style="padding-left: 10px"><a href="https://twitter.com/tschang" target="_blank"><i class="fa-brands fa-twitter" aria-hidden="true"></i></a></td>
        <td style="padding-left: 10px"><a rel="me" href="https://mastodon.social/@tschang" target="_blank"><i class="fa-brands fa-mastodon" aria-hidden="true"></i></a></td>
        <td style="padding-left: 10px"><a href="https://bsky.app/profile/chi-chu.tschang.net" target="_blank"><i class="fa-brands fa-bluesky" aria-hidden="true"></i></a></td>
        <td style="padding-left: 10px"><a href="https://www.github.com/chichutschang/" target="_blank"><i class="fa-brands fa-github" aria-hidden="true"></i></a></td>
        <td style="padding-left: 10px"><a href="https://www.goodreads.com/review/list/1589736/" target="_blank"><i class="fa-brands fa-goodreads-g" aria-hidden="true"></i></a></td> 
        </tr>
      </table>
    </div>