<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel='stylesheet' type='text/css' href='../stylesheets/style.css'>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-LRlmVvLKVApDVGuspQFnRQJjkv0P7/YFrw84YYQtmYG4nK8c+M+NlmYDCv0rKWpG" crossorigin="anonymous">

    <ul class="nav">
      <div class="row" id="menu">
        <li class="nav-link"><a href="/">home</a></li>
        <li class="nav-link"><a href="/resume">resume</a></li>
        <li class="nav-link"><a href="/learning">learning</a></li>
        <!-- <li class="nav-link"><a href="/teaching">teaching</a></li> -->
        <li class="nav-link"><a href="/reading">reading</a></li>
        <!-- <li class="nav-link"><a href="/investing">investing</a></li> -->
        <li class="nav-link"><a href="/projects">projects</a></li>
      </ul>

      <div id="header">
        <!-- add icon link -->
        <link rel="icon" href="/images/tschang.ico" type="/image/icon">
        <a href="/"><div id="header_left"><img src="/images/chichutschanglogo.jpg" width="50" height="auto"></div></a>
        <a href="/"><div id="header_right"><img src="/images/chi-chu.tschang.png" width="175" height="auto"></div></a>
      </div>
