
<!doctype html>
<html>
  <div class="container-fluid">
    <head>
        <% include partials/head %>
        <script type="text/javascript" src="https://d3js.org/d3.v5.min.js"></script>
    </head>
    <body>
        <nav>
            <% include partials/header %>
        </nav>
        <content>
            <div id="projects">
                <h1>Apple Inc.</h1>
                <p><h4>share price</h4> 
                <svg id="AAPLprice" style="border:1px solid black"></svg></p>
                <p><h4>forward P/E</h4>
                <svg id="AAPLforwardPE" style="border:1px solid black"></svg></p>
                <p><h4>forward P/S</h4> 
                <svg id="AAPLforwardPS" style="border:1px solid black"></svg></p>
            </div>
        </content>
        </div>
    </body>
    <script src="../graphs/AAPLprice.js"></script> 
    <script src="../graphs/AAPLforwardPE.js"></script>
    <script src="../graphs/AAPLforwardPS.js"></script>
    <div id="content">
        <footer><% include partials/footer %></footer>
    </div>
  </div>
</html>
