<!doctype html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <nav>
      <% include partials/header %>
    </nav>

    <div id="content">
      <content>

      </content>
    </div>
  </body>
<footer><% include partials/footer %></footer>
</html>
