<nav>
    <% include partials/header %>
  </nav>
  
  <!doctype html>
  <html>
    <div class="container-fluid">
    <head>
      <% include partials/head %>
    </head>
    <body>
      <div id="content">
        <content>
          <table class="table table-bordered" >
            <div class="row col">
            <thead>
              <tr>
                <th class="col-3">2019/2020</th>
                <th class="col-3 english1"><a href="/teaching/english1">English 1</a></th>
                <th class="col-3"><a href="/teaching/english2">English 2</a></th>
              </tr>
            </thead>
            <tbody>
              <tr data-toggle="collapse" data-target="#purpose-of-education" class="clickable english1">
                <td class="col-3">Purpose of Education</td>
                <td class="col-3"></td>
                <td class="col-3"></td>
                <td class="col-3"></td>
              </tr>
              <tr class="collapse col-3 english1" id="purpose-of-education">
              <!-- <tr class="collapse col-3 english1" id=""> -->
                <td>Week 1</td>
                <td>Day 1
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1p9NhRn4ds4yZeUjMfFhtTWvEbKnE7ndyHMzyuBVp-UQ/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/17q4TszBCVb7babhkfD2AAHcK9ptvmkrv-CpY8feiXiQ/edit?usp=sharing" target="_blank">Slides</a></li>
                    <li><a href="https://docs.google.com/document/d/1mzMG0HjHOBZedbkGJKqF-OMJoaHxqr0poz9TMzWn-xw/edit?usp=sharing" target="_blank">Syllabus</a></li>
                    <li><a href="https://docs.google.com/document/d/1ZbGCvg7WWcX2cd8OvSDZiqXe6dUkA8igIdjVJ9g-iB8/edit?usp=sharing" target="_blank">Letter to Teacher</a></li>
                  </ul>
                </td>
                <td>Day 2
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1Fw3ATnarbrRSXwA7RHiGJytVFpy36iPm_TYxsXuxpGs/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1L3Z8JEyKdei3chHpAc7PiIQNgJsKt1E2aNvXJDXLxFw/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td> 
                <td>Day 3/4
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1ZQQeVKDIsA9G7uco7TFqaB6bcjoyaIsdbu0CxIEb0pc/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1icKVAhoaK5dDkoWRl_3FWjE6q372hi1x4hu2Yp2Aw6c/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
              </tr>
              <tr class="collapse col-3 english1" id="purpose-of-education">
              <!-- <tr class="collapse col-3 english1" id=""> -->
                <td>Week 2</td>
                <td>Labor Day</td>
                <td>Day 5/6
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1F3PjfWzVuOz8MwCUsRYVy477vPggddmmCZSjB2rtJ7I/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1uHq68xntJ_5dkxKwV5SPH8ZYyxiva-c4HD5ujZ3vkNQ/edit?usp=sharing" target="_blank">Slides</a></li>
                    <li><a href="https://docs.google.com/document/d/1URdDT0c5AQIsyU7TmRqDh_PsA4NI49Kx68RGGzyx3ss/edit?usp=sharing" target="_blank">What is Intelligence, Anyway?</a></li>
                  </ul>
                </td>
                <td>Day 7/8
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1YdfoaB9AvtWAiCtjlzewuSksMq69AzDYRqqPL9XFmuI/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1wJL9hgm6rsn0O48cAuLKTZwETjnjtpc63wGDQ6cvmuI/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
              </tr>
              <tr class="collapse col-3 english1" id="purpose-of-education">
                <!-- <tr class="collapse col-3 english1" id=""> -->
                  <td>Week 3</td>
                  <td>Day 9
                    <ul class="outside">
                      <li><a href="https://docs.google.com/document/d/1M7_sKN9h3wchfX1n9cCQvYDfYPATARa1U4V97sknfpc/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                      <li><a href="https://docs.google.com/presentation/d/1g_KS8RszLJRMZ0m7itAoD2KK9q6w_rsYDk8Tj2gFhug/edit?usp=sharing" target="_blank">Slides</a></li>
                      <li><a href=""></a></li>
                    </ul>
                  </td>
                  <td>Day 10/11
                    <ul class="outside">
                      <li><a href="https://docs.google.com/document/d/1tyKtVp0VtsWw7lD-YVvwE7KKE6rByXs69VOVwg1s68U/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                      <li><a href="https://docs.google.com/presentation/d/19iNQdbcy0gezMfztGj9hQrl8SPrs7Zlu4WMLs1UoqK0/edit?usp=sharing" target="_blank">Slides</a></li>
                    </ul>
                  </td>
                  <td>Day 12/13
                    <ul class="outside">
                      <li><a href="https://docs.google.com/document/d/1FNPbIIeWgkgG788GPnYyNqo4FqfOOr-XRxzGPnyIBc0/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                      <li><a href="https://docs.google.com/presentation/d/10bENTu08ALSJ06xE43f4mHhU5J67dx-hiF-qLf3WH2I/edit?usp=sharing" target="_blank">Slides</a></li>
                      <li><a href="https://docs.google.com/document/d/1jRgwEGZwtJrBBQrGNOPh-zElMUpljspKM-hc6yhWvEU/edit?usp=sharing" target="_blank">The Game of School Reflection</a></li>
                    </ul>
                  </td>
                </tr>
                <tr class="collapse col-3 english1" id="purpose-of-education">
                  <!-- <tr class="collapse col-3 english1" id=""> -->
                    <td>Week 4</td>
                    <td>Day 14
                      <ul class="outside">
                        <li><a href="https://docs.google.com/document/d/1x_XMsnaQOhkvGCHN4aQSdSd6hUAVB52nB_RlLyVvMpc/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                        <li><a href="https://docs.google.com/presentation/d/1N68vRcMwbL8BlS0xjCRGbhziaFNcWxlumfeP_UrVqD0/edit?usp=sharing" target="_blank">Slides</a></li>
                        <li><a href=""></a></li>
                      </ul>
                    </td>
                    <td>Day 15/16
                      <ul class="outside">
                        <li><a href="https://docs.google.com/document/d/1TmHVQg3d_qfkypnAOOfKxpDcD-EmM3rxdvjphMNnC3I/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                        <li><a href="https://docs.google.com/presentation/d/1h_l3xtCaEbV9vsIkz7RCHNYwzZmKAXOFyKR1K9gWeZw/edit?usp=sharing" target="_blank">Slides</a></li>
                      </ul>
                    </td>
                    <td>Day 17/18
                      <ul class="outside">
                        <li><a href="https://docs.google.com/document/d/1Djna7hXrJ7deykfJo4zb05hAwEE2zmYjzxE24wh6-CQ/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                        <li><a href="https://docs.google.com/presentation/d/1YZH9j_wmlzu_fPChprQ9dUb4qBndnnmexcG403U7AfE/edit?usp=sharing" target="_blank">Slides</a></li>
                      </ul>
                    </td>
                  </tr>
                  <tr class="collapse col-3 english1" id="purpose-of-education">
                    <!-- <tr class="collapse col-3 english1" id=""> -->
                      <td>Week 5</td>
                      <td>Day 19
                        <ul class="outside">
                          <li><a href="https://docs.google.com/document/d/1XgNbIXZ1FCVe5K2Gb0PMO4-hxAB0K-jvBZ-Nb5_fsYo/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                          <li><a href="https://docs.google.com/presentation/d/1Ny4LGKBNUQrhOoRs-OB0lE-3Zbj5_qGHFhVZHveuCE8/edit?usp=sharing" target="_blank">Slides</a></li>
                          <li><a href="https://docs.google.com/document/d/1unaAEGeSFwT1AighqHlLrl11QsRzXKtlYG7vUEMZ2qQ/edit?usp=sharing" target="_blank">Essay: The Purpose of Education</a></li>
                        </ul>
                      </td>
                      <td>Day 20/21
                        <ul class="outside">
                          <li><a href="https://docs.google.com/document/d/1EhLOCJekIgvViaSSNAzu-b65AJs8VeA-TT5QqUnxXcA/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                          <li><a href="https://docs.google.com/presentation/d/1u8H43JJk-hbmRUq3zuOIVc1iT8Y-YeYXdXBA6cMuJ0g/edit?usp=sharing" target="_blank">Slides</a></li>
                        </ul>
                      </td>
                      <td>Day 22/23
                        <ul class="outside">
                          <li><a href="https://docs.google.com/document/d/12VFWYixFQCqvwirEB3iw6YqlQ8BUxCdaew-Kh_Y_cYI/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                          <li><a href="https://docs.google.com/presentation/d/1N-1H6h9R0rfDgQjQTGjJ2vxnKDZ1X_aQPrRcqb1kcPs/edit?usp=sharing" target="_blank">Slides</a></li>
                        </ul>
                      </td>
                  </tr>      
              <tr data-toggle="collapse" data-target="#the-house-on-mango-street" class="clickable english1">
                <td class="col-3">The House on Mango Street</td>
                <td class="col-3"></td>
                <td class="col-3"></td>
                <td class="col-3"></td>
              </tr>
              <tr class="collapse col-3 english1" id="the-house-on-mango-street">
              <!-- <tr class="collapse col-3 english1" id=""> -->
                <td>Week 1</td>
                <td>Day 1
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1FqsAg5rVANpZ2SaAGuh51Swo1HYkry0iC-03qzXkatw/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1KYjLB40JicsboDQ9SZHFmzDrGVTWDU-O4kEhN0j8Xm4/edit?usp=sharing" target="_blank">Slides</a></li>
                    <li><a href="https://docs.google.com/document/d/18HIrViwPqanH-a22tlVPVHqBFkyjgceZggZgRVaLhvE/edit?usp=sharing" target="_blank">Jorge the Church Janitor Finally Quits</a></li>
                  </ul>
                </td>
                <td>Day 2/3
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/12j4tC8gllJY8phVnh7R-q205-FdYkWWJZtAQNAAHEno/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1V7Yry2rdOi7Md_U9HmeHdLe-hyAkI4UNqPtYp6PwdxI/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
                <td>Day 4/5
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/13wTuN1rNWmGpHuK5fB_jsnEJ7zZCtphPTpKCWJchhVI/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1IbgEUogCOY8V5vhCIjodPl9kB0EjWZI-BwSh8o2djks/edit?usp=sharing" target="_blank">Slides</a></li>
                    <li><a href="https://drive.google.com/file/d/113AqCHBndg6s3etVoH_1Hjqf2dhwjOaj/view?usp=sharing" target="_blank">Only Daughter</a></li>
                    <li><a href="https://docs.google.com/document/d/1hkF3_1Xhjs-Zw_MVwZrrHSTdSlpPY-CT0hURoxSh2Gw/edit?usp=sharing" target="_blank">Only Daughter Reflection Questions</a></li>
                  </ul>
                </td>
              </tr>
              <tr class="collapse col-3 english1" id="the-house-on-mango-street">
              <!-- <tr class="collapse col-3 english1" id=""> -->
                <td>Week 2</td>
                <td>Day 6
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1J5H1RgtFqvHG19MAejsJhFEzmY6bViQokBmOToUR_50/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1ymTEfWUiLA8CTzq0XG99UZCTpS_go0jZzhJcKvt3U5s/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
                <td>Day 7/8
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1qhHktGWz_z-PaorMro9a_3WabYCGJPZQKFcQSzmN8iY/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1MdKLu7h8HoPCOXaiKdjqj_dQUEahPUE40GkUc0VRY-w/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
                <td>Day 9/10
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1t18hp9NbXv8WrYN9NTD0qEMyMNAlS04b8clVhJsNjKk/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1vWW9fu8SOaady_yg-iahYrr48O70SvccqAjlCY21UEM/edit?usp=sharing" target="_blank">Slides</a></li>
                    <li><a href="https://docs.google.com/document/d/1oJ_Y-LSj_qOoMAjjia1Y9KTO5giN4TI4E4UQPQ3NTUI/edit?usp=sharing" target="_blank">The House on Mango Street Vignette #1</a></li>
                    <li><a href="https://docs.google.com/document/d/1DZB189zGpRMOV2Kpr_YxQn5slIOttGvUrL043ZiFrcY/edit?usp=sharing" target="_blank">The House on Mango Street Vignette #2</a></li>
                  </ul>
                </td>
              </tr>
              <tr class="collapse col-3 english1" id="the-house-on-mango-street">
              <!-- <tr class="collapse col-3 english1" id=""> -->
                <td>Week 3</td>
                <td>Staff Development Day
                </td>
                <td>Day 11/12
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1zX1Y4lbaGNK6xk_AU5G3QPy8t6-Er-kt6gESuKOntA0/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1SmLXPVBseF4Yfb_l6r3nmAXC1VKKH1PG-Oa1v0cBKNg/edit?usp=sharing" target="_blank">Slides</a></li>
                    <li><a href="https://docs.google.com/document/d/1GQ0DR5AWld8zvFYAgro_hUvrq7bFnLhXeMgqybAA6g0/edit?usp=sharing" target="_blank">The House on Mango Street as a Bildungsroman</a></li>
                  </ul>
                </td>
                <td>Day 13/14
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1SwS8Ip9jBiqkancfBpo9_O0DpV5kuckJ9T6qWDbhA3U/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1lujw5XMdGmRhuqj3IDMp5cOYpofRBJjuDdl_6NtB6GA/edit?usp=sharing" target="_blank">Slides</a></li>
                    <li><a href="https://docs.google.com/document/d/1jPFhy6hZPnz-DMKeDRzItVVAKDYzH1K04xXRqdM3jK0/edit?usp=sharing" target="_blank">Resume</a></li>
                  </ul>
                </td>
              </tr>
              <tr class="collapse col-3 english1" id="the-house-on-mango-street">
              <!-- <tr class="collapse col-3 english1" id=""> -->
                <td>Week 4</td>
                <td>Day 15
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1plucb881G8QvCb_pcrm5eFyX2FpapMuqqZ0_P1FF-eE/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1OQpNkS6TduYJKJCm72sm8jyq9FUYzrkInBDHbHqnTfw/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
                <td>Day 16/17
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/12-sutfxIUSF4mc8ENE5jK60KzsTKj6J6xewaaZqorJU/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1ByV4jXblKXYB40XkOF7aKv3cwSy188Y8nQutF5sDoF0/edit?usp=sharing" target="_blank">Slides</a></li>
                    <li><a href="https://docs.google.com/document/d/1CxDRB4I--iIuUQT5P1HErb4LzEMFulDkBFI2-Mo-KdY/edit?usp=sharing" target="_blank">Cover Letter</a></li>
                  </ul>
                </td>
                <td>Day 18/19
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/18BtnBO9gjSIfYUXljiS-ugqVP6KQ0v7xnB16Mc8LK0E/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1A0ZAtaeQVrlE4mN-vurXeTVKASOIt7m2b9p33WYTXFw/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
              </tr>
              <tr class="collapse col-3 english1" id="the-house-on-mango-street">
              <!-- <tr class="collapse col-3 english1" id=""> -->
                <td>Week 5</td>
                <td>Day 20
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1NYhO6Xx13H0zqacKLJdzY8B2ZC89CiYkhLdp2wkcE34/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1RobgaR2Rf3a9Pzv0475BSKJmZQ5K3STJBsOfg3zZdLU/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
                <td>Day 21/22
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1LoNZVhbnsN5EdV1W--zq4lvWIjO6LnYXJ_S_9dKxZBs/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1I0HIdCdqauqzZoemgY1fpa1SUg5-gbD7SABy2E20nF0/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
                <td>Day 23/24
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1Cist15OgtoP1OI75u4VR5ADyoYco-ICn0Gi3CqQFisw/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1b6zB1MXcqIymKivXP1cm4eKmxH13_NJpPixCkPFsXJ8/edit?usp=sharing" target="_blank">Slides</a></li>
                    <li><a href="https://docs.google.com/document/d/1r4NSPCaAZw_oh3Tj00BcaEVZ66N6RAgBhOR3PcQLShM/edit?usp=sharing" target="_blank">Socratic Seminar Performance</a></li>
                    <li><a href="https://docs.google.com/document/d/1cDvMTFKgD2Ja9glnac32MtutFhUklTrYaII1AaVMRbM/edit?usp=sharing" target="_blank">Socratic Seminar Reflection</a></li>
                  </ul>
                </td>
              </tr>
  
              <tr data-toggle="collapse" data-target="#of-mice-and-men" class="clickable english1">
                <td class="col-3">Of Mice and Men</td>
                <td class="col-3"></td>
                <td class="col-3"></td>
                <td class="col-3"></td>
              </tr>
              <tr class="collapse col-3 english1" id="of-mice-and-men">
              <!-- <tr class="collapse col-3 english1" id=""> -->
                <td>Week 1</td>
                <td>Veteran's Day
                </td>
                <td>Day 1/2
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1C4Dhx2ALvESRzJcnTJoe1lpKTiw3NVDS48JzAqDN6vU/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1Mv5ViqMXYO9tlkyzplw77u6Si_eQCE7I-XGsmjBrF6o/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
                <td>Day 3/4
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1JLmnIE_ECtiLCHdtxVdNRsHDp_A_yhG4Z9laAMknqOs/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1d_EtYpVIabOCJRf88MPOosXdLAMapH2uJnv4r5BlZYs/edit?usp=sharing" target="_blank">Slides</a></li>
                    <li><a href="https://docs.google.com/document/d/1RHEBIDWe1edHZSZc6iPszdtVtKU6VF96lCmN4ujqEwI/edit?usp=sharing" target="_blank">Character Charts</a></li>
                  </ul>
                </td>
              </tr>
              <tr class="collapse col-3 english1" id="of-mice-and-men">
              <!-- <tr class="collapse col-3 english1" id=""> -->
                <td>Week 2</td>
                <td>Day 5
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1jzlEzMW-QMR5g2UuAJNn7gdYfX97PbVmPYxRIJWseDI/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1shAxAWGZOntv9_BbKPpa3Pg6oMw7vJMpE5XSCSns8-U/edit?usp=sharing" target="_blank">Slides</a></li>
                    <li><a href="https://docs.google.com/document/d/1hJP0WqQqZkLCckamEt6CzLGE1szzQo2LwkCz55g5Igw/edit?usp=sharing" target="_blank">Of Mice and Men Character Essay</a></li>
                  </ul>
                </td>
                <td>Day 6/7
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/18Me-W-iDxM2iAIfyNHWKMOo461aw1HTgMJL9hNLTt5k/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1YqkVntc-fxfoecoGFaZcrwhMDpWyHNRYNITdfWSipsk/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
                <td>Day 8/9
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/131X0cnlZubolqZbTf9s_V8Q7CTKaLeGb-Vz40V7GShc/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1KOVAibcOX7zFwvSnDzp3ZZP0VDf1hvxsDzZEWn_9cVk/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
              </tr>
              <tr class="collapse col-3 english1" id="of-mice-and-men">
              <!-- <tr class="collapse col-3 english1" id=""> -->
                <td>Week 3</td>
                <td>Day 10/11
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1ajj2Gh0VEWuw5fshDW9quhb1QviQgMCEKn-17DKacWs/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1BJ30LujTxPQWP4_wGyb9UtJD249WGohQeRhmFbWAdck/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
                <td>Thanksgiving Holiday
                </td>
                <td>Thanksgiving Holiday
                </td>
              </tr>
              <tr class="collapse col-3 english1" id="of-mice-and-men">
              <!-- <tr class="collapse col-3 english1" id=""> -->
                <td>Week 4</td>
                <td>Day 12
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1b6fgUOD1DVfdqEnltDToDde93fkF3RVh7eqbJOYwoyI/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1hrRUgDaq4kNvrH9QnkDvPPwen1okiF4tO5UpKXyg5hA/edit?usp=sharing" target="_blank">Slides</a></li>
                    <li><a href="https://docs.google.com/document/d/1n2ivhHuMgShWAyXYIJ33CoakO-pSfhX_Q0fXGS8mo4I/edit?usp=sharing" target="_blank">The Three Types of Friendship</a></li>
                    <li><a href="https://docs.google.com/document/d/1YHbTdVrKOCclsDYWHMc97377h6UfPYfwGU59KvGjnIM/edit?usp=sharing" target="_blank">Of Mice and Men: Three Types of Friendship</a></li>
                  </ul>
                </td>
                <td>Day 13/14
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1oueqmSxMmunGFdrKCr4MKBnixm7g0MpSsWoH8P8zjtM/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1AyQgYjQi6kOUKwYzCP_Kd5B-KXNkhVFSbSGsJdgaq4o/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
                <td>Day 15/16
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1EpYU-jW_M3ySZ5eNfcX8Wf4gK0AzJIOqPvw5oKrT_Bs/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1BSzXCB9L40gRGiFsRv7TN4V2SRFuPFaZwR1DESz91Uk/edit?usp=sharing" target="_blank">Slides</a></li>
                    <li><a href="https://docs.google.com/document/d/1IqfjqN_wjrV-LjHlVVPMnt-6K-K5vvPWGwmoriZWbAk/edit?usp=sharing" target="_blank">Of Mice and Men: Crooks</a></li>
                  </ul>
                </td>
              </tr>
              <tr class="collapse col-3 english1" id="of-mice-and-men">
              <!-- <tr class="collapse col-3 english1" id=""> --> 
                <td>Week 5</td>
                <td>Day 17
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1-RE_7ttG-cSem0uOPPpar7ZVccnKBykuzOjb_L2dFhg/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                  </ul>
                </td>
                <td>Day 18/19
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1Gge8MILhcW_Rb8tW_DboLQFldUi-M32z92i1J3IKzFM/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/16z3k0Uh8FCGTNeHU8NlSPSqmUV6pb3apF34-R5eh1S4/edit?usp=sharing" target="_blank">Slides</a></li>
                    <li><a href="https://docs.google.com/document/d/1AisXEm3_9lSS13jvdGYq_wuP9L10dW3H3IVR6Pz1XJE/edit?usp=sharing" target="_blank">Of Mice and Men: Curley's Wife</a></li>
                  </ul>
                </td>
                <td>Day 20/21
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1kluX6QpGYmzUIRl_hltp5zX8SVTT5gWpoUlIHmGZztQ/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1STt1y0RD2pSEBy5A8Q-6WCuvW_55_cO2-eowSQsrhcw/edit?usp=sharing" target="_blank">Slides</a></li>
                    <li><a href="https://docs.google.com/document/d/1qXFMMLcGHN-IVB0M-UU98pZnl7t-6kCdPwhN6RMosmg/edit?usp=sharing" target="_blank">Of Mice and Men Reputation Essay</a></li>
                    <li><a href="https://docs.google.com/document/d/1Oa0vqPaHuzV8FFjZ8b8_86SUPE68hRVZWnpgBgNfM-8/edit?usp=sharing" target="_blank">Of Mice and Men Trial</a></li>
                  </ul>
                </td>
              </tr>
              <tr class="collapse col-3 english1" id="of-mice-and-men">
              <!-- <tr class="collapse col-3 english1" id=""> -->
                <td>Week 6</td>
                <td>Day 22
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1YcH13mrDsJVtsta3ZnR2aCsoB2NEw4hGF0nZLxVIuig/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1dKZELwQkjoDYexLYILRQAuq1J_Uy-VtnpYwsykGpoKQ/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
                <td>Day 23/24
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1U3_UF59Ixm1EGWRja2nwZ-pcWHFmDUrc7TTj5eijz14/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1KYqUxg0DGdNWnOO3heYtfNFGeT7x0ASZcVQe2BE4R3Q/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
                <td>Day 25/26
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1of6fjhpAfTm3c0kHrlqKj3xJrzw-G22o9qsgaVPXnz4/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1z4R0J34kTaDcXU9OMV1WEsH8NRWc_7cD4u6X0TP8LDs/edit?usp=sharing" target="_blank">Slides</a></li>
                    <li><a href="https://docs.google.com/document/d/18_3dsF0_zSDfkj4f7HIHjI5T_fO8qsN7A1dA6c_UQiQ/edit?usp=sharing" target="_blank">Of Mice and Men: Jury Duty</a></li>
                  </ul>
                </td>
              </tr>
  
              <tr data-toggle="collapse" data-target="#murder-mystery" class="clickable english1">
                <td class="col-3">Murder Mystery</td>
                <td class="col-3"></td>
                <td class="col-3"></td>
                <td class="col-3"></td>
              </tr>
              <tr class="collapse col-3 english1" id="murder-mystery">
              <!-- <tr class="collapse col-3 english1" id=""> -->
                <td>Week 1</td>
                <td>Day 1
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1q_l5_1F1vMr4z75mmkeAIRCegFve3tbENe4JG6quRT4/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1YmM7-is9QPtwgcT3eBC4FD9Uc1WDYZQHTAWLORTBe5o/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
                <td>Day 2/3
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1Z3HOoe6bfEEIcfIeCRmrRw5M4S-UQBB8HooN9sEnsdQ/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1rcpvE2Vif9WU8TZCHfxE3hOM-3hflKeSCg9IJ0Y7htI/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
                <td>Day 4/5
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1RnFjj9Y4pp7F1ee0tM7Ye1XS8ziZDQMpM0-lU7AOy3k/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1AcSwyoLPNmgGujNHRvj9ubjOcs4Ptw97P0Hz93ZT0w8/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
              </tr>
              <tr class="collapse col-3 english1" id="murder-mystery">
              <!-- <tr class="collapse col-3 english1" id=""> -->
                <td>Week 2</td>
                <td>Day 6
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1E-dDKvCBxgVHPT1_O5c4CEp49cQE0sLCEkKsIPI8Ziw/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                  </ul>
                </td>
                <td>Day 7/8
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/13lqy607vQ1VrfxJIgQrLAQqmx5dH8KQyEY19aR06EUs/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/15UhO6tVnjZDpZsHBq2QUtzRA4F7prVIOBoQ_G17f1xs/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
                <td>Day 9/10
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1iO00YykDXuocfl9m7MobymTyywGqCX2ROQoG4cRrqmY/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1jPeIfZjZ-2qNIed5O2bTIFTady828HEYq0LMuy_AwRU/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
              </tr>
              <tr class="collapse col-3 english1" id="murder-mystery">
              <!-- <tr class="collapse col-3 english1" id=""> -->
                <td>Week 3</td>
                <td>Day 11
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1legSC0JlpPsREQIL6mSdB7zKCWxptb-tyf_U95tqeFo/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/18cxV5G0vsY3HnG33dhRAJj96Y-fddn-F29dk6UEhS1g/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
                <td></td>
                <td></td>
              </tr>
              <tr class="collapse col-3 english1" id="murder-mystery">
              <!-- <tr class="collapse col-3 english1" id=""> -->
                <td>Week 4</td>
                <td>Day 12
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1KXBySUUBCmezX_ybBuxavAYM-oIhABEvB69LSwdfSdY/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1fDzmy_KqIcOwceo4tBYHRlSOlQ8Exr2SYyWyeDcNd2M/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
                <td>Day 13/14
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1O9LkYy-L0lnfeUG6A6VvJMlZalF-42A5j3vg7KJHYK0/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/18xdfRAVEJOkVuN6kxOc7XWc5LndG8AuWGts9PeqihWw/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
                <td>Day 15/16
                  <ul class="outside">
                    <li>Murder Mystery Round 1</li>
                    <li><a href="" target="_blank"></a></li>
                  </ul>
                </td>
              </tr>
              <tr class="collapse col-3 english1" id="murder-mystery">
              <!-- <tr class="collapse col-3 english1" id=""> -->
                <td>Week 5</td>
                <td>Day 17
                  <ul class="outside">
                    <li>Murder Mystery Round 2</li>
                    <li><a href="" target="_blank"></a></li>
                  </ul>
                </td>
                <td>Day 18/19
                  <ul class="outside">
                    <li>Murder Mystery Round 3</li>
                    <li><a href="" target="_blank"></a></li>
                  </ul>
                </td>
                <td>Day 20/21
                  <ul class="outside">
                    <li>Murder Mystery Round 4</li>
                    <li><a href="" target="_blank"></a></li>
                  </ul>
                </td>
              </tr>
              <tr data-toggle="collapse" data-target="#forum" class="clickable english1">
              <!-- <tr class="collapse col-3 english1" id=""> -->
                <td class="col-3">Forum Project</td>
                <td class="col-3"></td>
                <td class="col-3"></td>
                <td class="col-3"></td>
              </tr>
              <tr class="collapse col-3 english1" id="forum">
                <td>Week 0</td>
                <td>Day 1
                  <ul class="outside">
                    <a href="" target="_blank"></a><li></li>
                    <a href="" target="_blank"></a><li></li>
                  </ul>
                </td>
                <td>Day 2/3
                  <ul class="outside">
                    <a href="" target="_blank"></a><li></li>
                    <a href="" target="_blank"></a><li></li>
                  </ul>
                </td>
                <td>Day 4/5
                  <ul class="outside">
                    <li></li>
                    <li></li>
                  </ul>
                </td>
              </tr>
              <tr class="collapse col-3 english1" id="forum">
                <td>Week 1</td>
                <td>Day 6
                  <ul class="outside">
                    <a href="" target="_blank"></a><li></li>
                    <a href="" target="_blank"></a><li></li>
                  </ul>
                </td>
                <td>Day 7/8
                  <ul class="outside">
                    <a href="" target="_blank"></a><li></li>
                    <a href="" target="_blank"></a><li></li>
                  </ul>
                </td>
                <td>Day 9/10
                  <ul class="outside">
                    <li></li>
                    <li></li>
                  </ul>
                </td>
              </tr>
              <tr class="collapse col-3 english1" id="forum">
                <td>Week 2</td>
                <td>Day 11
                  <ul class="outside">
                    <a href="" target="_blank"></a><li></li>
                    <a href="" target="_blank"></a><li></li>
                  </ul>
                </td>
                <td>Day 12/13
                  <ul class="outside">
                    <a href="" target="_blank"></a><li></li>
                    <a href="" target="_blank"></a><li></li>
                  </ul>
                </td>
                <td>Day 14/15
                  <ul class="outside">
                    <li></li>
                    <li></li>
                  </ul>
                </td>
              </tr>
              <tr class="collapse col-3 english1" id="forum">
                <td>Week 3</td>
                <td>Day 16
                  <ul class="outside">
                    <a href="" target="_blank"></a><li></li>
                    <a href="" target="_blank"></a><li></li>
                  </ul>
                </td>
                <td>Day 17/18
                  <ul class="outside">
                    <a href="" target="_blank"></a><li></li>
                    <a href="" target="_blank"></a><li></li>
                  </ul>
                </td>
                <td>Day 19/20
                  <ul class="outside">
                    <li></li>
                    <li></li>
                  </ul>
                </td>
              </tr>
              <tr class="collapse col-3 english1" id="forum">
                <td>Week 4: COVID-19</td>
                <td>Day 21
                  <ul class="outside">
                    <a href="" target="_blank"></a><li></li>
                    <a href="" target="_blank"></a><li></li>
                  </ul>
                </td>
                <td>Day 22/23
                  <ul class="outside">
                    <a href="" target="_blank"></a><li></li>
                    <a href="" target="_blank"></a><li></li>
                  </ul>
                </td>
                <td>Day 24/25
                  <ul class="outside">
                    <li></li>
                    <li></li>
                  </ul>
                </td>
              </tr>
              <tr class="collapse col-3 english1" id="forum">
                <td>Week 5: COVID-19</td>
                <td>Day 26
                  <ul class="outside">
                    <a href="" target="_blank"></a><li></li>
                    <a href="" target="_blank"></a><li></li>
                  </ul>
                </td>
                <td>Day 27/28
                  <ul class="outside">
                    <a href="" target="_blank"></a><li></li>
                    <a href="" target="_blank"></a><li></li>
                  </ul>
                </td>
                <td>Day 29/30
                  <ul class="outside">
                    <li></li>
                    <li></li>
                  </ul>
                </td>
              </tr>
              <tr class="collapse col-3 english1" id="forum">
                <td>Week 6: COVID-19</td>
                <td>Day 31
                  <ul class="outside">
                    <a href="" target="_blank"></a><li></li>
                    <a href="" target="_blank"></a><li></li>
                  </ul>
                </td>
                <td>Day 32/33
                  <ul class="outside">
                    <a href="" target="_blank"></a><li></li>
                    <a href="" target="_blank"></a><li></li>
                  </ul>
                </td>
                <td>Day 24/25
                  <ul class="outside">
                    <li></li>
                    <li></li>
                  </ul>
                </td>
              </tr>
  
              <tr data-toggle="collapse" data-target="#animal-farm" class="clickable english1">
                <td class="col-3">Animal Farm</td>
                <td class="col-3"></td>
                <td class="col-3"></td>
                <td class="col-3"></td>
              </tr>
              <tr class="collapse col-3 english1" id="animal-farm">
              <!-- <tr class="collapse col-3 english1" id="animal-farm"> -->
                <td>Week 1: COVID-19
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1PKqrM-hCAgopYlyZ1q0WVt28FKrOTbCHn702SCejsdc/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1CFx_-q7cKOr_JEhDIQ2PFlnUQSEVHEPlHlX3S-s7e6M/edit?usp=sharing" target="_blank">Slides</a></li>
                    <li><a href="https://docs.google.com/document/d/1_dE9vdFQ4RPBVGMQfs448_w1tOAOQhsM3CPEQTopU30/edit?usp=sharing" target="_blank">Animal Farm Week 1</a></li>
                  </ul>
                </td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class="collapse col-3 english1" id="animal-farm">
              <!-- <tr class="collapse col-3 english1" id="animal-farm"> -->
                <td>Week 2: COVID-19
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1Qt7VdVuoWHKqTmlItEJ4mwsYF_9Dla4o9MoPX7hGdko/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1ahRNeNvNMCnn2dH1kg_C9wC36e-0RNMuC579fyP9E-I/edit?usp=sharing" target="_blank">Slides</a></li>
                    <li><a href="https://docs.google.com/document/d/1QdegI0JHw7MyRXlTmyciRXyv9krHhZYX18_Kww3RqfY/edit?usp=sharing" target="_blank">Animal Farm Week 2</a></li>
  
                  </ul>
                </td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class="collapse col-3 english1" id="animal-farm">
              <!-- <tr class="collapse col-3 english1" id="animal-farm"> -->
                <td>Week 3: COVID-19
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1zQOY7aJHR1gpDWx06Pq92xf_B3pEVNsZjhaXNkq9Gmc/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1QfKPy2ELa3bdOpUwxvCV1OjXXVAqHo243sD1cQ28gOQ/edit?usp=sharing" target="_blank">Slides</a></li>
                    <li><a href="https://docs.google.com/document/d/1ICAhmwYO0DpOZnVARtDTz9Th3MRxqYViuJlOBlXzLHY/edit?usp=sharing" target="_blank">Animal Farm Week 3</a></li>
                  </ul>
                </td>    
                <td></td>
                <td></td>
                <td></td>
              </tr>    
              <tr class="collapse col-3 english1" id="animal-farm">
              <!-- <tr class="collapse col-3 english1" id="animal-farm"> -->
                  <td>Week 4: COVID-19
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/119NkexmhNGLvPsxtKPIxgz-V_caLOv8zQSp_5Do6TY8/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1RsIdPwrmRntncNY91NNA1g9D9dOl-2Lk7iffYkp1g6s/edit?usp=sharing" target="_blank">Slides</a></li>
                    <li><a href="https://docs.google.com/document/d/1Ai_Sc0OmYK7E6HuwYP55_iUymx2m2_vyLOWpIT2pdRk/edit?usp=sharing" target="_blank">Animal Farm Week 4</a></li>
                  </ul>
                </td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class="collapse col-3 english1" id="animal-farm">
              <!-- <tr class="collapse col-3 english1" id="animal-farm"> -->
                  <td>Week 5: COVID-19
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/12h9k3SqZMvpg0kYLVJtoReGOUTya7VkiRJy6PKUm8jk/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1pBqUBU2GiFY_szKuu5y5tg94arVaZPGS4bk1bEXwHXM/edit?usp=sharing" target="_blank">Slides</a></li>
                    <li><a href="https://docs.google.com/document/d/1SsZsV04R3uAsfZC6AuB7gGoJd6-v1ZU8naRANXu5BDU/edit?usp=sharing" target="_blank">Animal Farm Week 5</a></li>
                  </ul>
                  </td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class="collapse col-3 english1" id="animal-farm">
              <!-- <tr class="collapse col-3 english1" id="animal-farm"> -->
                <td>Week 6: COVID-19
                  <ul class="outside">
                    <li><a href="https://docs.google.com/presentation/d/1TS5TaOvYFPx_XR6U3sEKIL74722l8oF_SXDtZp2dt98/edit?usp=sharing" target="_blank">Slides</a></li>
                    <li><a href="https://docs.google.com/document/d/1Dkujn_h-5Y49dVl_NwVrdJ1uRZqaV9Tn3OdIOmbcpKA/edit?usp=sharing" target="_blank">Animal Farm Propaganda</a></li>
                    <li><a href="https://docs.google.com/document/d/1CDFT_cyh5zJ5hiAISNTtPg8OYzX-RXnDgV5FDpZYQ_o/edit?usp=sharing" target="_blank">Animal Farm Final Project</a></li>
                  </ul>
                </td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class="collapse col-3 english1" id="animal-farm">
              <!-- <tr class="collapse col-3 english1" id="animal-farm"> -->
                <td>Week 7: COVID-19
                  <ul class="outside">
                    <li><a href="https://docs.google.com/presentation/d/1yJDoQNcjJvOKR6PphgydFxe3PAua7hUdbHXXCPVP8Pk/edit?usp=sharing" target="_blank">Slides</a></li>
                    <li><a href="https://docs.google.com/document/d/1CDFT_cyh5zJ5hiAISNTtPg8OYzX-RXnDgV5FDpZYQ_o/edit?usp=sharing" target="_blank">Animal Farm Final Project</a></li>
                  </ul>
                </td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class="collapse col-3 english1" id="animal-farm">
              <!-- <tr class="collapse col-3 english1" id="animal-farm"> -->
                <td>Week 8: COVID-19
                  <ul class="outside">
                    <li><a href="https://docs.google.com/presentation/d/1Y5q5g6P5ED12fFVQ0bMLUAsZaCQ_jWM4-phxSd0H3a4/edit?usp=sharing" target="_blank">Slides</a></li>
                    <li><a href="https://docs.google.com/document/d/1JTvqSQ7BzHo1qRdG8lEAM0NOUQlshK3Vxpb6NXzUg9w/edit?usp=sharing" target="_blank">Final: Reflection</a></li>
                    <li><a href="https://docs.google.com/document/d/1l5cSQSxLuPM9nP6II2gHFBFyl2bu4MHQ_TeL069IA4k/edit?usp=sharing" target="_blank">Final: Letter</a></li>
                  </ul>
                </td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class="collapse col-3 english1" id="animal-farm">
              <!-- <tr class="collapse col-3 english1" id="animal-farm"> -->
                <td>Week 9: COVID-19
                  <ul class="outside">
                    <li><a href="https://docs.google.com/presentation/d/12kF9mJ9ggltZRQBapwefRpJW2xLlsnZhVKczlVYi5Qc/edit?usp=sharing" target="_blank">Slides</a></li>
                    <li><a href="https://docs.google.com/document/d/1l5cSQSxLuPM9nP6II2gHFBFyl2bu4MHQ_TeL069IA4k/edit?usp=sharing" target="_blank">Final: Letter</a></li>
                  </ul>
                </td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
  
            </tbody>
          </div>
          </table>
        </content>
      </div>
    </body>
    <footer><% include partials/footer %></footer>
    </div>
  </html>
  