<nav>
    <% include partials/header %>
  </nav>
  
  <!doctype html>
  <html>
    <div class="container-fluid">
    <head>
      <% include partials/head %>
    </head>
    <body>
      <div id="content">
        <content>
          <table class="table table-borderless" >
            <div class="row col">
            <thead>
              <tr>
                <th class="col-sm-3">2019/2020</th>
                <th class="col-sm-3"><a href="/teaching/english1">English 1</a></th>
                <th class="col-sm-3 english2"><a href="/teaching/english2">English 2</a></th>
              </tr>
            </thead>
            <tbody>
              <tr data-toggle="collapse" data-target="#why-read-other-countries-literature" class="clickable english1">
                <td class="col-3">Why Read Other Countries' Literature?</td>
                <td class="col-3"></td>
                <td class="col-3"></td>
                <td class="col-3"></td>
              </tr>
              <tr class="collapse col-3 english2" id="why-read-other-countries-literature">
              <!-- <tr class="collapse col-3 english1" id=""> -->
                <td>Week 1</td>
                <td>Day 1
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1mRWFaHs4CC8DB5zRGIiPk8FrFf484ncfc-WVJi4CAls/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/123UG54mPTrqfAyKNP6DBrD1KzufTLZE3iASdc1N9mQs/edit?usp=sharing" target="_blank">Slides</a></li>
                    <li><a href="https://docs.google.com/document/d/1qzoyUveaxSeP7ZVjxb_e85D9ZsdtSI7Dt-4WDw9E6Pg/edit?usp=sharing" target="_blank">Syllabus</a></li>
                    <li><a href="https://docs.google.com/document/d/1zlaisb55xr04jSJw8YzRnPEvgdI_Ksvtm4AdPASaTqo/edit?usp=sharing" target="_blank">Letter to Teacher</a></li>
                  </ul>
                </td>
                <td>Day 2
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1nldaa9sMi2USeoE-vDYEAkdvhcn7TQISlTCg4gNmIXQ/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1D98gbsKkGv3I0lurnW_aiK2nHAzEQrNZXzKV2W6ATKo/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td> 
                <td>Day 3/4
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1yD_eYotxD1oB9BMqyddsl16rn-dlrLg-AnDSsPE-R6M/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1wdH-q4QfiVF3OuH6GaPqvpPNQMgzQ1l3CQr2fBwn-AQ/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
              </tr>
              <tr class="collapse col-3 english1" id="why-read-other-countries-literature">
              <!-- <tr class="collapse col-3 english1" id=""> -->
                <td>Week 2</td>
                <td>Labor Day</td>
                <td>Day 5/6
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1rReO1UK19HtRO9b0fFLfACAhK4p_muiFQEptxf-PbAQ/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1IUaYBooZUG7FIY6xxvt8WRoS3v23enyjihPId2IrKyU/edit?usp=sharing" target="_blank">Slides</a></li>
                    <li><a href="https://docs.google.com/document/d/1cJtg39_InRZxvJPg5-6YbtO2a9vpimbwFsNZAuHz1ZI/edit?usp=sharing" target="_blank">Why Study Humanities: Claim</a></li>
                  </ul>
                </td>
                <td>Day 7/8
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1uyxea9HvdYDUPxZKgQNYui50gVy7V34qiFHsHwoquc4/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1YTsiv2ymKp75bx0kesquKmSQbInLmHvYB0EbT3RQKDI/edit?usp=sharing" target="_blank">Slides</a></li>
                    <li><a href="https://docs.google.com/document/d/1HOj7qjqy6CIHbt4HEDgv_nkVWY3V8x2P85JbKly5zkI/edit?usp=sharing" target="_blank">Essay: Why Read Other Countries' Literature?</a></li>
                  </ul>
                </td>
              </tr>
              <tr class="collapse col-3 english2" id="why-read-other-countries-literature">
                <!-- <tr class="collapse col-3 english1" id=""> -->
                  <td>Week 3</td>
                  <td>Day 9
                    <ul class="outside">
                      <li><a href="https://docs.google.com/document/d/13pxa3byFxZG4i5xEZbRrP2xIFMdPfipT-aW1S-pitmY/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                      <li><a href="https://docs.google.com/presentation/d/1arIo5NoXdzNm9Ua-X2gM9lyfDB6V9xpdBh7WxL9kh8E/edit?usp=sharing" target="_blank">Slides</a></li>
                    </ul>
                  </td>
                  <td>
                    <ul class="outside">
                      <li><a href="" target="_blank"></a></li>
                      <li><a href="" target="_blank"></a></li>
                    </ul>
                  </td>
                  <td>
                    <ul class="outside">
                      <li><a href="" target="_blank"></a></li>
                      <li><a href="" target="_blank"></a></li>
                    </ul>
                  </td>
                </tr>
              <tr data-toggle="collapse" data-target="#like-water-for-chocolate" class="clickable english2">
                <td class="col-3">Like Water For Chocolate</td>
                <td class="col-3"></td>
                <td class="col-3"></td>
                <td class="col-3"></td>
              </tr>
              <tr class="collapse col-3 english1" id="like-water-for-chocolate">
                <td>Week 1</td>
                <td>
                  <ul class="outside">
                    <li><a href="" target="_blank"></a></li>
                    <li><a href="" target="_blank"></a></li>
                  </ul>
                </td>
                <td>Day 1/2
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1Z5Q7lXDm-mgnET-E-V96z1B0tf49Xk0-FoIArs_Eq2M/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1Hdydewc2LiAzOt_RPHJcne3OWBdnlGGEzmZJ2WO48Dk/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
                <td>Day 3/4
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1mVcbtL0RuSCYYnAeEr6Np8xw79qa0OEC-ckLd75DUho/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1vbVdbXrFXt5633Z0SrgUhroyh7Lmg4VmYkQA9jkmVUA/edit?usp=sharing" target="_blank">Slides</a></li>
                    <li><a href="https://docs.google.com/document/d/1tInqr0e5jHPZJHudL1H8wx6vgb0MerBJA8nBbMjD4Ls/edit?usp=sharing" target="_blank">Food Blog</a></li>
                  </ul>
                </td>
              </tr>
              <tr class="collapse col-3 english2" id="like-water-for-chocolate">
                <td>Week 2</td>
                <td>Day 5
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1TbCW8w4PWplmpODlYTqc88d84q1IV1ZptBb9tyvO4Ic/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/13ZzgSmZfG63XnNxO-Ueyzob_6EsBpl5_dkSHBBevrPk/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
                <td>Day 6/7
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1fs3Bf-YyzhcQkYuS_DyYqkgyUWlrgrYKlZ-M1lwqgNU/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1Yen-B19NmeNEqpqg4MKaakELsmUn2Y7PzCJoV71uTOY/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
                <td>Day 8/9
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1NcVT_vSAfJ1k3eXfE2XNJS8h1-YH1l4hGXSuiC_VjEI/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1UnNK-VbPzbBio9BO9lu8tklH0OFWSy0xOTSvzq89zsU/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
              </tr>
              <tr class="collapse col-3 english2" id="like-water-for-chocolate">
                <td>Week 3</td>
                <td>Day 10
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1S28aEtAZefVvGI86MDmfbWFNj0zyGKe-kzGx2dmP3bs/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1ftJClS-unHV_PubFXYeCHdyTdtWvLql_4zApBvt7_bc/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
                <td>Day 11/12
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1CMtY6MGOsSYuG5gJB0oXU7DTj-UjkpOU2dUHgL-GKa0/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1LJ5Yt6Ctw_Det6FdPZwJORTedv2WFPKqFZRIHAUxEEc/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
                <td>Day 13/14
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1FYRIcOf8De4UGrijFuAry3WaEX7jX1xaG1X-VZLLjQE/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1OZrUr71NnNyx8vdV6qblDa9IxgANewivPLUPDPsrx3E/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
              </tr>
              <tr class="collapse col-3 english2" id="like-water-for-chocolate">
                <td>Week 4</td>
                <td>Day 15
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1yKtRc-nvRwC_1a-Vq_RVFZormcY8UNBO2iFw8yTZ5bE/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1dE7OobFLdXlJpnchXNY77xv7_Gxb3qTcHufMgUha7Ek/edit?usp=sharing" target="_blank">Slides</a></li>
                    <li><a href="https://docs.google.com/document/d/1Gs4xjIi-SjLn3a5uIsEBlzYJUNzHlJldjZkWofQ_mt8/edit?usp=sharing" target="_blank">Like Water for Chocolate Symbolism Essay</a></li>
                  </ul>
                </td>
                <td>Day 16/17
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1XDKXXdBceUmeNWHkj2_3iHW4yDr5IA7BE6irOAUUhT8/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1gE_sgHhT8VOtm7qgCQAL0RM9pTeWOm5I_fhVr7dluFA/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
                <td>Day 18/19
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1FKPsK9A70gEm0aIroGkd1D12ErzU1UAHPHkmjhqRbY0/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/10VK0CBQX1kcub1sIMW9lmKlJA8Jt20nAdVPhtzMMbYQ/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
              </tr>
              <tr class="collapse col-3 english2" id="like-water-for-chocolate">
                <td>Week 5</td>
                <td>Day 20
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1raM7-VH4PQAWqD4Jcaxe864-pn50FPxr_2n_yhKjxB8/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1MsCIbAYZW_8A5Zd0aTNVlFFc1SKen72gnkVXxXqRH7E/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
                <td>Day 21/22
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/15ISNLCUhWYR-LhZF_sBztxvTpdZQLDWFfdR_Z4jTNfM/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1t5m_nNToTWWu4ASJB-OhYbckW1N7qn3O29RY8O4JCS0/edit?usp=sharing" target="_blank">Slides</a></li>
                    <li><a href="https://docs.google.com/document/d/1xLoFAG7SToLTElM68azwkr2qXIa7rnzF30fEhU1Nhs8/edit?usp=sharing" target="_blank">Like Water for Chocolate Feminism Presentation</a></li>
                  </ul>
                </td>
                <td>Day 23/24
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1eCu6y-DueqM8wxh7AcWH6s3j0oBs9BIRdUW5yZzD6ek/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1Mr3GLdDMyY0ekpS9lXojlwGR1IFZmaC95bujXhynWfg/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
              </tr>
              <tr class="collapse col-3 english2" id="like-water-for-chocolate">
                <td>Week 6</td>
                <td>Staff Development Day
                </td>
                <td>Day 25/26
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1xZhVpSFmMu8aHK1W_jeQbZxNxz98JJZv5RsccEfKrlI/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1eAp0yttGbGIQbHHry_GFJMMAugiqqzRG_VJ6RjkuOiE/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
                <td>Day 27/28
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1GFjnwMOfT-8DDUmy45jN2xICTqTLqfq5ay9jfOsviyc/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1RUWE_9KMPZLK1gWc4YWb59GI265HWI-t_I70qfqPPdA/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
              </tr>
              <tr class="collapse col-3 english2" id="like-water-for-chocolate">
                <td>Week 7</td>
                <td>Day 29
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1ttKGsFOCpVbKnK8Q5R3fo3ZHAO25eAvH2VAZhaCVk5I/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1nUM3U9CS0RzQ6CtxmUVNu7EC5HgHu01866EofTR0YU4/edit?usp=sharing" target="_blank">Slides</a></li>
                    <li><a href="https://docs.google.com/document/d/1-g9VFY8jsftNRWeu_zByELDAAAQT1Pyus4AlpjXaLlk/edit?usp=sharing" target="_blank">Like Water for Chocolate Essay</a></li>
                  </ul>
                </td>
                <td>Day 30/31
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1EOZYovkrkCfMygcjXt-N1Nahfu-jzKol1JTB1q70FOk/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1qdBJyOgDaONWFWFWbRom4H7wveDIIdiaC7G2shOa7mQ/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
                <td>Day 32/33
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/13lEDQyrYn4Px57a0ADws8MtTT3mKWFmf3l0SpkZyvsM/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/16qSOUUdeU_Ve8907a-ifWmphg5KXXwF8-x-ny-ua8ps/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
              </tr>
  
  
              <tr data-toggle="collapse" data-target="#purple-hibiscus" class="clickable english2">
                <td class="col-3">Purple Hibiscus</td>
                <td class="col-3"></td>
                <td class="col-3"></td>
                <td class="col-3"></td>
              </tr>
              <tr class="collapse col-3 english2" id="purple-hibiscus">
                <td>Week 1</td>
                <td>Day 1
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1qjQlhfrOd5kW4XzDALZlginlseKNvetEmyzyoKjz6_U/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1KAOflws_7_LkTc1ley67HfoWvA2li6wBdXpphKOCmWk/edit?usp=sharing" target="_blank">Slides</a></li>
                    <li><a href="https://docs.google.com/document/d/1QdeLQIBjMqc3vYPQHtRYDS1rH99l73nhdUmdbsiCTTg/edit?usp=sharing" target="_blank">How is Africa Portrayed in Western Media?</a></li>
                  </ul>
                </td>
                <td>Day 2/3
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1FZLFDauYo9d-LJFqCbBiwIHEWkt7KPhnZDM3NWvvycg/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1VWwMcmy_r7dAKyfBJl1sEjID7ZUmLybYUD2DNX3yVis/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
                <td>Day 4/5
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1NTdba2YXCY00LAH5RZJ3INvWrsRNvAyFiSR-EZrEKFw/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1RJMoDkY7CVNijWIf8GfsW1BlpzjkUtuEOsQuhPx9KFY/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
              </tr>
              <tr class="collapse col-3 english2" id="purple-hibiscus">
                <td>Week 2</td>
                <td>Day 6
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1NOxXsUICtTJqNE3HjBz4PXqP6pd9vmvzelaILXGi2GM/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1lLFnn3W5aqfeOLY4ze3IG4MMNgXm0a3SJ5zr4df38u4/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
                <td>Day 7/8
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1VGarJvL8_dKs7Scr_QnK5xRSxqHyHKiRRN2YjOnfej4/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1Owm9zqgsXbEJ-8-6dmKVtAliPSGwHPuC0NnfP1Yj5VM/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
                <td>Day 9/10
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1JlKbNCvo3WNJuQKTSUzJ3sF9KRerapd3Jy7NFflHg1E/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/12jEGkXgcWuNV7QFgoVtIA_NnVpvJIo2RfszS5z-_Fwk/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
              </tr>
              <tr class="collapse col-3 english2" id="purple-hibiscus">
                <td>Week 3</td>
                <td>Day Veteran's Day
                </td>
                <td>Day 11/12
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1yNLqwt1-3VyFTj2dU4A7jJNAvIvgrk7fYfQUsy9dXio/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1wvErqcFpCdkecQLrffFH5MS6mCnAs61SE-mK9m92Vy8/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
                <td>Day 13/14
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1pIbDCPOU6SUAbN0xt1SDP3eap94spJQwBKz6hlylRUs/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1Fgq0USMHB8c9sRPMnEqArok2--IHHRYHu8TKYrzM8PY/edit?usp=sharing" target="_blank">Slides</a></li>
                    <li><a href="https://docs.google.com/document/d/1K2mO6hQ5aLvVBuf_JOSWnva0nIrd2fZR9C57sZsaKUI/edit?usp=sharing" target="_blank">Nigerian Leaders</a></li>
                  </ul>
                </td>
              </tr>
              <tr class="collapse col-3 english2" id="purple-hibiscus">
                <td>Week 4</td>
                <td>Day 15
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1YXOEfNpponNoNsXxuJxpCmUHflw9eDHmnn0h6X-ULU0/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1mo5xn3W-8GBPpL5NiCLFvVEEI9Rh18WnaQCH42Q6aMQ/edit?usp=sharing" target="_blank">Slides</a></li>
                    <li><a href="https://docs.google.com/document/d/18NKTcm1MV5Nji7BPvmR--FJ18N9FDpIz7Lx-Y2agxXQ/edit?usp=sharing" target="_blank">Purple Hibiscus Compare and Contrast Essay</a></li>
                  </ul>
                </td>
                <td>Day 16/17
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1YXOEfNpponNoNsXxuJxpCmUHflw9eDHmnn0h6X-ULU0/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1Fgq0USMHB8c9sRPMnEqArok2--IHHRYHu8TKYrzM8PY/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
                <td>Day 18/19
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1WzaoUnKMQ01mt8dkEYXa9twL9zhSvt-R-FOQpza1klQ/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1p7fhLpOtzXlkfdOgk07ruX2VyXtC5ruiveGjI_osD7I/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
              </tr>
              <tr class="collapse col-3 english2" id="purple-hibiscus">
                <td>Week 5</td>
                <td>Day 20/21
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1FY2qer9_AZkgWapKq30f_AUCvbBtxe3Q0YeapzmhdPg/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1ew24lHHvo6cgUxqPH_OJixKmPsPbUxum_JkctwGNyZw/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
                <td>Thanksgiving Holiday
                </td>
                <td>Thanksgiving Holiday
                </td>
              </tr>
              <tr class="collapse col-3 english2" id="purple-hibiscus">
                <td>Week 6</td>
                <td>Day 22
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1Jy7gAjqKrRk8xF5kwdvSEF-KGAgzJM7q3YNt0PaBITM/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1UU9pZoW7L5JZEyI2VsSeHAm1M8oPRIOmHgn7C6cSLzw/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
                <td>Day 23/24
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1RFwAQa0fZQl6DzySXQ3mln54LxQ9WsLNyW8vg2nN80w/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/16Hd-J93JeINGZUfr--y5kURKedWYwutVm-wK2typ-Es/edit?usp=sharing" target="_blank">Slides</a></li>
                    <li><a href="https://docs.google.com/document/d/1BwS4lmPoQXy9Z5s_8rlt-1Bm7GbDRhNVUEJLp_dnFXg/edit?usp=sharing" target="_blank">Purple Hibiscus Faith Presentation</a></li>
                  </ul>
                </td>
                <td>Day 25/26
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1RhPVZ3y_34gaadJab7mWrjrgCOmLKIbfFt-073RFMVs/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1OC0hPpVasz0f6ulJ4Zz7-vG6_toTegsSkN6SWO_G6CY/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
              </tr>
              <tr class="collapse col-3 english2" id="purple-hibiscus">
                <td>Week 7</td>
                <td>Day 27
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/17EdXqjbgQacJlZTW6cQtuWAAoXPpMdeBNpkPBHFPJko/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                  </ul>
                </td>
                <td>Day 28/29
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1pXpsi7Cpw0tXtOCcb5jHtHvVVRpwGFs3g01hOD806Wo/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1ffOYE3sld7xRcw5k60Z1cPSwnMBEdtHT5GPBSp0aTLc/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
                <td>Day 30/31
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/19K8mwyX3ymT1PNqGQglNqtWAINYxXK_fiCnvHOw6WCk/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/18noJMTbgN4frnhBfCICHzmlVQowxn7A4DkK5GiRJinM/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
              </tr>
              <tr class="collapse col-3 english2" id="purple-hibiscus">
                <td>Week 8</td>
                <td>Day 32
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1s782LkYpeEPTkt9ucvQn0vhxdvUj9H1qhqrBaqqNDAs/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1ST3514vgNbQkyHpwI1wVCUGkaMRCkWNPW2El8tk8s4E/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
                <td>Day 33/34
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1z2Mq_kKJnoNjHgXkEe_fOLz6UYUNhKZPv3n11pAt_a8/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1hTeq-_pXCdfX6FLqfGKln2w3eeM_-OQnrU89TAfIKKY/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
                <td>Day 35/36
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/18UOIC-SvSHWM51SV-R23trBmBqtxFr1lhuR77GPE740/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1bMQc0YwjYKtoXbhCecPRd4jdLWarIHMSxQ_zM7HwHg0/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
              </tr>
              <tr data-toggle="collapse" data-target="#persepolis" class="clickable english2">
                <td class="col-3">Persepolis</td>
                <td class="col-3"></td>
                <td class="col-3"></td>
                <td class="col-3"></td>
              </tr>
              <tr class="collapse col-3 english2" id="persepolis">
                <td>Week 1</td>
                <td>Day 1
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/14LevDXcq405zPpQObXtqbAMnzQLjrIODExb9RUGlv1w/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1Xi86iK0tMCtIIgmQxs_HmQkhFEvgAiMwD50PgcgmuE4/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
                <td>Day 2/3
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1ccjr0nqy099QgucdHoX97qRVpWGHPjnPykeX-YIZBqQ/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1pS0iSaRRUjmTfSFyO-D3yjwsyefAbAnsYvH5EZn07Gk/edit?usp=sharing" target="_blank">Slides</a></li>
                    <li><a href="https://docs.google.com/document/d/1O1IJcQwIQD9-0DsRpUBWEU70fdjRXKmI8-Nqgc_R374/edit?usp=sharing" target="_blank">How is Iran Portrayed in Western Media?</a></li>
                  </ul>
                </td>
                <td>Day 4/5
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1ApG0UIMkVcLNeTKM0CIL50z9Oxbd8PbgoBqQQIp07Vg/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1s7envHd3_aS-TjTFQB9Rh2TLWh775BG3Q6fHdXXzSf0/edit?usp=sharing" target="_blank">Slides</a></li>
                    <li><a href="https://docs.google.com/document/d/1R89TfT-IkYncWHRJs9IAeFjMGuU05qMiF4IwzgQfpFU/edit?usp=sharing" target="_blank">Persepolis: Iran Primer</a></li>
                  </ul>
                </td>
              </tr>
              <tr class="collapse col-3 english2" id="persepolis">
                <td>Week 2</td>
                <td>Day 6
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1UkHqq4ocLwR3qXTEzcffqXQETLVnakKeQuW7RzDahk4/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                  </ul>
                </td>
                <td>Day 7/8
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1r8cx9eX4DLXfk1Xg1wi6FJsB-G2DVH-shbhqa-MWhmo/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1k4jrS1ql_LTDMZQR0KCW9A3kudIzQZ3uaAlXVKAEpJo/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
                <td>Day 9/10
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1GX8am3S6ebuKtFtyc4yNDx-_BUSR1L6MpP969xMa0ss/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1Uv0CsvXdMiDcjyB_24yd3Xp1KjpXmTHuadusUOTuq90/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
              </tr>
              <tr class="collapse col-3 english2" id="persepolis">
                <td>Week 3: Finals Week</td>
                <td>Day 11
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1WbPVnQMwMgkp9sCVrDhKIPHwyEJPNGB37R3oatjrg2c/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1nXcjuRJ-I57alhAjxXiYmZSwIT7qyxGq0N73N1cviHc/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
                <td></td>
                <td></td>
              </tr>
              <tr class="collapse col-3 english2" id="persepolis">
                <td>Week 4</td>
                <td>Day 12
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1tYKZbaqAkTnHMnqO2zUNlEA18y-2GGVCux5soU6bxDs/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1RkkqKTUFmO6kCUSjt_BS9mozIsxkrRlhNgNRimOwjus/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
                <td>Day 13/14
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1PuRXLa5u2NoPM4YZvMG8NCzQS6L8qev4BAAjZ7ZwBoY/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1-Vhi7CHOh4xnIx_TgIVGaMH1Ki1B7KiUQcAPo-WH6mU/edit?usp=sharing" target="_blank">Slides</a></li>
                    <li><a href="https://docs.google.com/document/d/1-ntwFTLw4LcuQ_mfUBJ-LGcrjvxczKE_bYh-NSOVtHY/edit?usp=sharing" target="_blank">Persepolis: Watershed Moments</a></li>
                  </ul>
                </td>
                <td>Day 15/16
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1wpGmsH5QLq2j0UkpX_Qmx1-aR1XxR6HoFdMKl9a-9O0/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1tk8ooyAeZuAh93YHZJA1FkzbfjujJ0IVaczkEVHpo3A/edit?usp=sharing" target="_blank">Slides</a></li>
                    <li><a href="https://docs.google.com/document/d/1XzRz2FhnSZgE_6xK9DAHFsIkCuwKNd0WfF80SNdYaAM/edit?usp=sharing" target="_blank">Persepolis: Comic Book</a></li>
                  </ul>
                </td>
              </tr>
              <tr class="collapse col-3 english2" id="persepolis">
                <td>Week 5: Challenge Day</td>
                <td>Day 17
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1eGQiEWiEmAdt9GH8m7T2LYdUCrKQfNNvmJwKKQ4eJJE/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1r-gZ_cSnQ7JMr5wMH1QlcZEQp_nig-ZSx0zBFYSDY34/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
                <td>Day 18/19
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1fmFRn4x47QuyGZGWi1xBQHRhXJ5cg2mykZbFQL9-Jjo/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1t2Nvaia4URiNMHYct5G-Mc7-_L-sRH4BZM-9Oh4MM4o/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
                <td>Day 20/21
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/16Hhrj_MYqJp3OEcCHaq_LalsYxBCpfHQpuXFerCSPFY/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1xR4WfvdIhcIaKDcF575Z1fYJvSP286Rw-ho3fuca-Vw/edit?usp=sharing" target="_blank">Slides</a></li>
                    <li><a href="https://docs.google.com/document/d/1A4ib8nRzxEAzJ4_YBf-qPFWqT-G6_7bz49gqkID6JyY/edit?usp=sharing" target="_blank">Persepolis 3.0</a></li>
                  </ul>
                </td>
              </tr>
              <tr class="collapse col-3 english2" id="persepolis">
                <td>Week 6</td>
                <td>Day 22
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1U0EXkD4l9Mxv9xWmzwFojeHdkymzDiQ_3VMVZVpEEIg/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1tBxLNYTOyrg1vZqARG9-u2qz3QFbMOFdI53xdh9LdLY/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
                <td>Day 23/24
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/187qCXClSNGznpvyDtS0vOkD4LuCwi1nnBdZF12DkEPg/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1zLzehOxOHujYsk6dunl5-GX6Wt7hOO5Dd5jGeaXpc4c/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
                <td>Day 25/26
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1gZR_SYXuY5_9clgh_SvgBMSKXwHDfUc2Y8thaU38OGI/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li>Slides</li>
                  </ul>
                </td>
              </tr>
              <tr data-toggle="collapse" data-target="#othello" class="clickable english2">
                <td class="col-3">Othello</td>
                <td class="col-3"></td>
                <td class="col-3"></td>
                <td class="col-3"></td>
              </tr>
              <tr class="collapse col-3 english2" id="othello">
                <td>Week 1</td>
                <td>Day 1
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1syP9p7600NseKVbUh0J02lC5D39hXURaoA8tsus_lOc/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1N0f73cS7yq0NuQVEQ1ygjT8sFjRnAmhwDCdWeaKuYPo/edit?usp=sharing" target="_blank">Slides</a></li>
                    <li><a href="https://docs.google.com/document/d/17RPNw_Z0RLdlKkTzXn6dkll1NYJwEQdg0ydYhSHrLPg/edit?usp=sharing" target="_blank">Casting Othello</a></li>
                  </ul>
                </td>
                <td>Day 2/3
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1j70VeXohEuwqjur2YxG6bEaRfRJ09XA2c2JUYgxYTNA/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1rl6av6jXAEKDO5PBErPQsGG6thrxpdln8QHPzIcWAbo/edit?usp=sharing" target="_blank">Slides</a><li>
                  </ul>
                </td>
                <td>Day 4/5
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/130Zxjar9x5jCojQ2zK6y08AJF-EvkENBM-EcdzfHJO8/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1UamqtGuMcbjmYLGxRHBFMZNNerkWNwhu9xOau1gkOhs/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
              </tr>
              <tr class="collapse col-3 english2" id="othello">
                <td>Week 2</td>
                <td>Day 6
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1ZysuTy3zdpY7CA_pTA1JjKTRkRsPrkdCVH0tZqrix_I/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1kpTr7hKGiGlwvwZuI7y9DpRBPZh8d8ULo6gr6MNEQ0w/edit?usp=sharing" target="_blank">Slides</a></li>
                    <li><a href="https://docs.google.com/document/d/1zLiIqFSuFb8hTPHtKpemyZ0el68X-f-MRckeIyPqO_I/edit?usp=sharing" target="_blank">Othello Act I</a></li>
                  </ul>
                </td>
                <td>Day 7/8
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1P5deUfRq2N-W7O1XTbvMrCtG8z2CAAVW7Z5sI9Tlh24/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1Uvh7dxrVAffEoanVvCeedYM7wBJeyJWd55xvq623Wpo/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
                <td>Day 9/10
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1y8nID_mTICqL63tARqSBlbtZD1Oi8G5EF6VEFy-Pu_0/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/14G_r99HEeZwOYcOQsphvo6oJi5NNTAFxmsu7oRCWGtQ/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
              </tr>
              <tr class="collapse col-3 english2" id="othello">
                <td>Week 3</td>
                <td>Day 11
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1Kc3vn_hr9qYAqnTON_U7JmkS0KMH8ng6mLe_5GJPzBk/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1zjBekx1NiSeyVFB4tYc2mMLSMmpY34_UvAVqgwjthcU/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
                <td>Day 12/13
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1RBQmBbDf_MxZXc3KgCtPwgMO5aQmi1uTb0r8VBStLJU/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/17mbedPYcL-6MPeniR1slaB8nNo7r1TtgEesMwgusLs8/edit?usp=sharing" target="_blank">Slides</a></li>
                    <li><a href="https://docs.google.com/document/d/13kNnWdrmXHmduADQvKav0dE1VF7-ONzmgl1NlNA1j6Y/edit?usp=sharing" target="_blank">Othello Act II</a></li>
                  </ul>
                </td>
                <td>Day 14/15
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1Xuuz0BGidao3TN2xScu4PKzsDIlnC-uYFfxkDKYKHBU/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1MPcEiB8w3NTLCCiFrNa5HZ6RFlB4IN3DenGPMmeuDhE/edit?usp=sharing" target="_blank">Slides</a></li>
                  </ul>
                </td>
              </tr>
              <tr class="collapse col-3 english2" id="othello">
                <td>Week 4: COVID-19</td>
                <td>Day 16
                  <ul class="outside">
                    <li><a href="" target="_blank"></a></li>
                    <li><a href="" target="_blank"></a></li>
                  </ul>
                </td>
                <td>Day 17/18
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1mSaOjfhgCC5haC8xRWfxST6Pm43FsAn2wVzJ7e59JBA/edit?usp=sharing" target="_blank">Distance Learning: Writing #1</a></li>
                    <li><a href="https://docs.google.com/document/d/13qfTT2WMclwR35fMal-SI88ra1irIn2GJWeoBK7dmjY/edit?usp=sharing" target="_blank">Distance Learning: Reading Check #1</a></li>
                  </ul>
                </td>
                <td>Day 19/20
                  <ul class="outside">
                    <li><a href="" target="_blank"></a></li>
                    <li><a href="" target="_blank"></a></li>
                  </ul>
                </td>
              </tr>
              <tr class="collapse col-3 english2" id="othello">
                <td>Week 5: COVID-19
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1mSaOjfhgCC5haC8xRWfxST6Pm43FsAn2wVzJ7e59JBA/edit?usp=sharing" target="_blank">Distance Learning: Writing #2</a></li>
                    <li><a href="https://docs.google.com/document/d/1-UW49YV4uiQbEOnQtqyh6GjfpDPeWQKqikiud0xzf9k/edit?usp=sharing" target="_blank">Distance Learning: Reading Check #2</a></li>
                  </ul>
                </td>
                <td>Day 21
                  <ul class="outside">
                  </ul>
                </td>
                <td>Day 22/23
                  <ul class="outside">
                  </ul>
                </td>
                <td>Day 24/25
                  <ul class="outside">
                  </ul>
                </td>
              </tr>
              <tr class="collapse col-3 english2" id="othello">
                <td>Week 6: COVID-19
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1mSaOjfhgCC5haC8xRWfxST6Pm43FsAn2wVzJ7e59JBA/edit?usp=sharing" target="_blank">Distance Learning: Writing #3</a></li>
                    <li><a href="https://docs.google.com/document/d/1TJVgFoYiv0qifngcoRPPiAZdwqGuj-vfgCUKrC08wgk/edit?usp=sharing" target="_blank">Distance Learning: Reading Check #3</a></li>
                  </ul>
                </td>
                <td>Day 26
                  <ul class="outside">
                  </ul>
                </td>
                <td>Day 27/28
                  <ul class="outside">
                  </ul>
                </td>
                <td>Day 29/30
                  <ul class="outside">
                  </ul>
                </td>
              </tr>
              <tr class="collapse col-3 english2" id="othello">
                <td>Week 7: COVID-19
                  <ul class="outside">
                    <li><a href="https://docs.google.com/presentation/d/1QQIWAx-dw1vaYBKrIwCmcGGn7qFlARKR-UJqWMITDx8/edit?usp=sharing" target="_blank">Slides</a></li>
                    <li><a href="https://docs.google.com/document/d/1HXlF4s50vQF9VYtRT717JjeMbCoCDy_QZoTRMwJO9i8/edit?usp=sharing" target="_blank">Othello Act III Study Guide</a></li>
                    <li><a href="https://docs.google.com/document/d/1vNcmio46_8mo3QfCie89q91XN7ffzVOYsZS-VTURdIA/edit?usp=sharing" target="_blank">Othello Act III</a></li>
                  </ul>
                </td>
                <td>Day 31
                  <ul class="outside">
                  </ul>
                </td>
                <td>Day 32/33
                  <ul class="outside">
                  </ul>
                </td>
                <td>Day 34/35
                  <ul class="outside">
                  </ul>
                </td>
              </tr>
              <tr class="collapse col-3 english2" id="othello">
                <td>Week 8: COVID-19
                  <ul class="outside">
                    <li><a href="https://docs.google.com/presentation/d/1TDLAn7g3O2KFDR05jTmyBL_ds-IChPbprq6-EX0NJNY/edit?usp=sharing" target="_blank">Slides</a></li>
                    <li><a href="https://docs.google.com/document/d/1Ie3b4-vDKBTOgz_CcA6Aq7RiiTNjeA3g-FXydnuhu4A/edit?usp=sharing" target="_blank">Othello Act IV Study Guide</a></li>
                    <li><a href="https://docs.google.com/document/d/1KdvXbbH5iKGdqnrOxU7d36OVENp2eWJ_afpnl4aXcaU/edit?usp=sharing" target="_blank">Othello Act IV</a></li>
                  </ul>
                </td>
                <td>Day 36
                  <ul class="outside">
                  </ul>
                </td>
                <td>Day 37/38
                  <ul class="outside">
                  </ul>
                </td>
                <td>Day 39/40
                  <ul class="outside">
                  </ul>
                </td>
              </tr>
              <tr class="collapse col-3 english2" id="othello">
                <td>Week 9: COVID-19
                  <ul class="outside">
                    <li><a href="https://docs.google.com/presentation/d/1KzMSVl50NKf5ByTbLjp-yXeLGcnOG7TPosgT66mIHfA/edit?usp=sharing" target="_blank">Slides</a></li>
                    <li><a href="https://docs.google.com/document/d/1bTFaQH71a8rYDXEt8dGvMyDDhyv6i_iEX0Cvwde7aBk/edit?usp=sharing" target="_blank">Othello Act V Study Guide</a></li>
                    <li><a href="https://docs.google.com/document/d/1tc9-QTmumNn2MEdNvbQ97wwaEnGHZoOQuNFu89cKkds/edit?usp=sharing" target="_blank">Othello Act V</a></li>
                  </ul>
                </td>
                <td>Day 41
                  <ul class="outside">
                  </ul>
                </td>
                <td>Day 42/43
                  <ul class="outside">
                  </ul>
                </td>
                <td>Day 44/45
                  <ul class="outside">
                  </ul>
                </td>
              </tr>
              <tr class="collapse col-3 english2" id="othello">
                <td>Week 10: COVID-19
                  <ul class="outside">
                    <li><a href="https://docs.google.com/presentation/d/1F6E18fOGNMXq2GR2avxUEG8CW89pWYlBmZ77vOCUC3k/edit?usp=sharing" target="_blank">Slides</a></li>
                    <li><a href="https://docs.google.com/document/d/1aQsjEoCAXsHvqQiKzeAl3mjJ5qF9gHW05YiVC-2SBs8/edit?usp=sharing" target="_blank">Othello Essay</a></li>
                    <li><a href="https://docs.google.com/document/d/1T6f9YpL-ADjyWBey1lVCUfk6RL8U_29LIPFcEFR8Mx0/edit?usp=sharing" target="_blank">Distance Learning: Reading Check #4</a></li>
                  </ul>
                </td>
                <td>Day 46
                  <ul class="outside">
                  </ul>
                </td>
                <td>Day 47/48
                  <ul class="outside">
                  </ul>
                </td>
                <td>Day 49/50
                  <ul class="outside">
                  </ul>
                </td>
              </tr>
              <tr data-toggle="collapse" data-target="#traditions" class="clickable english2">
                <td class="col-3">Traditions Research Project</td>
                <td class="col-3"></td>
                <td class="col-3"></td>
                <td class="col-3"></td>
              </tr>
              <tr class="collapse col-3 english2" id="traditions">
              <!-- <tr class="collapse col-3 english2" id="traditions"> -->
                <td>Week 1: COVID-19
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1-q8FZWDo8MTrbCqEFfZzde6QY3BLLVS6iT5NUHvJfbw/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1P3k6zNiiBW9f15OEaB45oDVVQFuhVk3EJ8YPiIh-eog/edit?usp=sharing" target="_blank">Slides</a></li>
                    <li><a href="https://docs.google.com/document/d/13W1FE1KhWcWbTkLxkzYM-pKJoWXS35uyPZmJYtleqrY/edit?usp=sharing" target="_blank">Traditions Brainstorm</a></li>
                    <li><a href="https://docs.google.com/document/d/1znJNtYrrsV98rJ9oz2wtcimpw6GhMmqHtp6ytNyhm58/edit?usp=sharing" target="_blank">Distance Learning: Reading Check #5</a></li>
                  </ul>
                </td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class="collapse col-3 english2" id="traditions">
              <!-- <tr class="collapse col-3 english2" id="traditions"> -->
                <td>Week 2: COVID-19
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1r5dyJYpqB-jmWBQuJZGu33YG7IEnJIb2fvFu98ImjBc/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1EdpXWXtXOXzhmdzVaAVaRcn5YbPk4zvBkkmVIe3xB5E/edit?usp=sharing" target="_blank">Slides</a></li>
                    <li><a href="https://docs.google.com/document/d/1jpKx3_RR1HNYMAS0cKv16GjFHMcYdlBV-sq4V-cJyLk/edit?usp=sharing" target="_blank">Personal Narrative Essay</a></li>
                  </ul>
                </td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class="collapse col-3 english2" id="traditions">
                <!-- <tr class="collapse col-3 english2" id="traditions"> -->
                <td>Week 3: COVID-19
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1yon3Y6k4UM97Gazj1rd9nfNkGXJAdVscEK8O67-1RCc/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/document/d/1orOOp8VBIUuCulsTMW25v_JqKlOqKaHoBmZZZ6Oh9X4/edit?usp=sharing" target="_blank">Library Research</a></li>
                  </ul>
                </td>    
                <td></td>
                <td></td>
                <td></td>
              </tr>    
              <tr class="collapse col-3 english2" id="traditions">
                <!-- <tr class="collapse col-3 english2" id="traditions"> -->
                  <td>Week 4: COVID-19
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1e2U1oIsVrPzWx3Hnqv9nRQddne4OykozRnWEVVFZ54M/edit?usp=sharing" target="_blank">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1NChpNbfAYKYRDhQa_Lu_zO9osY9_SXSb2OAkQ-Y71Q4/edit?usp=sharing" target="_blank">Slides</a></li>
                    <li><a href="https://docs.google.com/document/d/1ZcuKnC8bol5hMFXiiMHsYfmM_beE5IgLsadB4gt-2QU/edit?usp=sharing" target="_blank">Traditions Research Presentation</a></li>
                  </ul>
                </td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class="collapse col-3 english2" id="traditions">
                <!-- <tr class="collapse col-3 english2" id="traditions"> -->
                  <td>Week 5: COVID-19
                  <ul class="outside">
                    <li><a href="https://docs.google.com/presentation/d/1n243ZSLMaXbdc0dcz0wtAquzvdoIeboCb8rdLtTJvW8/edit?usp=sharing" target="_blank">Slides</a></li>
                    <li><a href="https://docs.google.com/document/d/1w-o8hhSeRoXLFX7qvULCUlDXDgRLjX_RIb1NM0hlMVw/edit?usp=sharing" target="_blank">Final: Letter</a></li>
                  </ul>
                  </td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </div>
          </table>
        </content>
      </div>
    </body>
    <footer><% include partials/footer %></footer>
    </div>
  </html>
  