<%- include('partials/head') %>

<!doctype html>
  <html>
    <div class="container-fluid">
      <head>
        <%- include('partials/header') %>
      </head>
      <body>
        <div id="content">
            <content>
                404 Error. This is not the webpage you are looking for.
            </content>  
    </body>  
      <%- include('partials/footer') %>
    </div>
</html>