<<<<<<< HEAD
<nav>
    <% include partials/header %>
  </nav>
  
  <!doctype html>
  <html>
    <div class="container-fluid">
    <head>
      <% include partials/head %>
    </head>
    <body>
      <div id="content">
        <content>
          <table>
            <tbody>This webpage is to post the humidity sensor data</a>. Nothing to see here. Move along.</tbody>
            <script src=""></script>
          </table>
        </content>
      </div>
    </body>
    <footer><% include partials/footer %></footer>
      <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  
        ga('create', 'UA-28397530-1', 'auto');
        ga('send', 'pageview');
      </script>
    </div>
  </html>
=======
<nav>
    <% include partials/header %>
  </nav>
  
  <!doctype html>
  <html>
    <div class="container-fluid">
    <head>
      <% include partials/head %>
    </head>
    <body>
      <div id="content">
        <content>
          <table>
            <tbody>This webpage is to post the humidity sensor data</a>. Nothing to see here. Move along.</tbody>
            <script src=""></script>
          </table>
        </content>
      </div>
    </body>
    <footer><% include partials/footer %></footer>
      <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  
        ga('create', 'UA-28397530-1', 'auto');
        ga('send', 'pageview');
      </script>
    </div>
  </html>
>>>>>>> 257f2126fba5fc3d751a4e6a8015f0c15dab48ca
  