<nav>
  <% include partials/header %>
</nav>

<!doctype html>
<html>
  <div class="container-fluid">
  <head>
    <% include partials/head %>
  </head>
  <body>

  <div id="content">
    <content>
      <table>
          <tbody>
          <tr>
            <td class="align-text-top"><b>learning: </b></td><td><a href="https://www.uclaextension.edu/">UCLA Extension</a></td>
          </tr>
          <tr>
            <td class="align-text-top"><b>teaching: </b></td><td><a href="https://mmc-scusd-ca.schoolloop.com/">Mission Early College High School</a></td>
          </tr>
          <tr>
            <td class="align-text-top"><b>reading :</b></td><td><div style='display: inline-block' id='title'><a href="<%= link %>"><%= title %></a></div> by <div style='display: inline-block' id='author'><%= author %></div></td>
          </tr>
          <tr>
            <td class="align-text-top"><b>writing :</b></td><td><a href="https://www.businessweek.com/stories/2008-02-11/a-french-water-companys-cautionary-tale-in-chinabusinessweek-business-news-stock-market-and-financial-advice">A French Water Company's Cautionary Tale in China</a>
              <ul class="list-unstyled">
              <li><a href="https://www.businessweek.com/stories/2008-04-09/the-new-e-spionage-threat">The New E-spionage Threat</a></li>
              <li><a href="https://www.businessweek.com/stories/2008-10-01/dangerous-fakes">Dangerous Fakes</a></li>
              <li><a href="https://www.businessweek.com/stories/2008-12-30/the-squeeze-at-chinas-baidu">The Squeeze at China's Baidu</a></li>
              <li><a href="https://www.businessweek.com/stories/2008-08-15/empty-seats-at-chinas-sellout-olympicsbusinessweek-business-news-stock-market-and-financial-advice">Empty Seats at China's Sellout Olympics</a></li>
              </ul>
            </td>
          </tr>
            </tbody>
          </table>
        </content>
      </div>
    </body>
  <footer><% include partials/footer %></footer>
  </div>
</html>
