<!doctype html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <nav>
      <% include partials/header %>
    </nav>

    <div id="content">
      <content>
        <div id="resume">
              <table>
                <tbody>
                    <tr>
                        <td id="resumeleft">teaching</td><td id="resumecenter"><b>Fresno State -</b> Master's in Education: Curriculum & Instruction</td><td id="resumeright">7/16/2020</td>
                    </tr>  
                    <tr>
                      <td id="resumeleft"></td><td id="resumecenter"><b>Fresno State -</b> Single Subject Teaching Credential</td><td id="resumeright">5/30/2019</td>
                  </tr>
                  <tr>
                      <td id="resumeleft"></td><td id="resumecenter"><b>Fresno Pacific University -</b> New Teacher Saturday Workshops</td><td id="resumeright">4/6/2019</td>
                  </tr>

                  <tr>
                      <td id="resumeleft"></td><td id="resumecenterbottom"><b>Fresno Pacific University -</b> New Teacher Conference</td><td id="resumerightbottom">9/6/2018</td>
                  </tr>

                  <tr>
                      <td id="resumeleft">programming</td><td id="resumecenter"><b>FreeCodeCamp -</b> <a href="https://www.freecodecamp.org/certification/fccac12f331-934a-44fd-95ca-93f56b0492f2/data-visualization" target="blank">Data Visualization Projects</a></td><td id="resumeright" class="align-text-top">12/28/2018</td>
                  </tr>
                  <tr>
                      <td id="resumeleft"></td><td id="resumecenter"><i class="fab fa-codepen"></i><a href="https://codepen.io/tschang/pen/dzYGyw" target="_blank" id="learningprojects"> Visualize Data With A Bar Chart</a></td><td id="resumeright"></td>
                  </tr>
                  <tr>
                      <td id="resumeleft"></td><td id="resumecenter"><i class="fab fa-codepen"></i><a href="https://codepen.io/tschang/pen/gZRGLq" target="_blank" id="learningprojects"> Visualize Data With A Scatterplot Graph</a></td><td id="resumeright"></td>
                  </tr>
                  <tr>
                      <td id="resumeleft"></td><td id="resumecenter"><i class="fab fa-codepen"></i><a href="https://codepen.io/tschang/pen/ebEBoR" target="_blank" id="learningprojects"> Visualize Data With A Heat Map</a></td><td id="resumeright"></td>
                  </tr>
                  <tr>
                      <td id="resumeleft"></td><td id="resumecenter"><i class="fab fa-codepen"></i><a href="https://codepen.io/tschang/pen/Jwyzez" target="_blank" id="learningprojects"> Visualize Data With A Chloropleth Diagram</a></td><td id="resumeright"></td>
                  </tr>
                  <tr>
                      <td id="resumeleft"></td><td id="resumecenterbottom"><i class="fab fa-codepen"></i><a href="https://codepen.io/tschang/pen/Jwyzez" target="_blank" id="learningprojects"> Visualize Data With A Treemap Diagram</a></td><td id="resumerightbottom"></td>
                  </tr>

                  <tr>
                      <td id="resumeleft"></td><td id="resumecenter"><b>FreeCodeCamp - </b><a href="https://www.freecodecamp.org/certification/fccac12f331-934a-44fd-95ca-93f56b0492f2/front-end-libraries" target="blank">Front End Libraries</a></td><td id="resumeright" class="align-text-top">12/22/2018</td>
                  </tr>
                  <tr>
                      <td id="resumeleft"></td><td id="resumecenter"><i class="fab fa-codepen"></i><a href="https://codepen.io/tschang/pen/Kqgrpp" target="_blank" id="learningprojects"> Build A Random Quote Machine</a></td><td id="resumeright"></td>
                  </tr>
                  <tr>
                      <td id="resumeleft"></td><td id="resumecenter"><i class="fab fa-codepen"></i><a href="https://codepen.io/tschang/pen/xmdGBM" target="_blank" id="learningprojects"> Build A Drum Machine</a></td><td id="resumeright"></td>
                  </tr>
                  <tr>
                      <td id="resumeleft"></td><td id="resumecenter"><i class="fab fa-codepen"></i><a href="https://codepen.io/tschang/pen/eRGoXm" target="_blank" id="learningprojects"> Build A Java Script Calculator</a></td><td id="resumeright"></td>
                  </tr>
                  <tr>
                      <td id="resumeleft"></td><td id="resumecenterbottom"><i class="fab fa-codepen"></i><a href="https://codepen.io/tschang/pen/YQYeXV" target="_blank" id="learningprojects"> Build A Pomodoro Clock</a></td><td id="resumerightbottom"></td>
                  </tr>
                  <tr>
                      <td id="resumeleft"></td><td id="resumecenterbottom"><b>FreeCodeCamp - </b><a href="https://www.freecodecamp.org/certification/fccac12f331-934a-44fd-95ca-93f56b0492f2/javascript-algorithms-and-data-structures" target="blank">Javascript Algorithms and Data Structures</a></td><td id="resumerightbottom">10/27/2018</td>
                  </tr>
                  <tr>
                      <td id="resumeleft"></td><td id="resumecenter"><b>FreeCodeCamp - </b><a href="https://www.freecodecamp.org/certification/fccac12f331-934a-44fd-95ca-93f56b0492f2/responsive-web-design" target="blank">Responsive Web Design</a></td><td id="resumeright" class="align-text-top">7/22/2018</td>
                  </tr>
                  <tr>
                      <td id="resumeleft"></td><td id="resumecenter"><i class="fab fa-codepen"></i><a href="https://codepen.io/tschang/pen/jpVKMO" target="_blank" id="learningprojects"> Build a Tribute Page</a></td><td id="resumeright"></td>
                  </tr>
                  <tr>
                      <td id="resumeleft"></td><td id="resumecenter"><i class="fab fa-codepen"></i><a href="https://codepen.io/tschang/pen/pZRedQ" target="_blank" id="learningprojects"> Build a Survey Form</a></td><td id="resumeright"></td>
                  </tr>
                  <tr>
                      <td id="resumeleft"></td><td id="resumecenter"><i class="fab fa-codepen"></i><a href="https://codepen.io/tschang/pen/ZjLwzg" target="_blank" id="learningprojects"> Build a Product Landing Page</a></td><td id="resumeright"></td>
                  </tr>
                  <tr>
                      <td id="resumeleft"></td><td id="resumecenter"><i class="fab fa-codepen"></i><a href="https://codepen.io/tschang/pen/EpZJwB" target="_blank" id="learningprojects"> Build a Technical Documentation Page</a></td><td id="resumeright"></td>
                  </tr>
                  <tr>
                      <td id="resumeleft"></td><td id="resumecenterbottom"><i class="fas fa-link"></i><a href="http://chi-chu.tschang.net/projects/" id="learningprojects"> Build A Personal Portfolio Page</a></td><td id="resumerightbottom"></td>
                  </tr>
                  <tr>
                      <td id="resumeleft"></td><td id="resumecenterbottom"><b>FreeCodeCamp - </b><a href="https://www.freecodecamp.org/chichutschang/front-end-certification" target="_blank">Front End Development Program</a></td><td id="resumerightbottom" class="align-text-top">7/17/2017</td>
                  </tr>

                  <tr>
                      <td id="resumeleft"></td><td id="resumecenter"><b>MITx - </b><a href="https://courses.edx.org/certificates/5472cfc0a06f46bb98e2b6a5ec4701a6" target="_blank">6.00.2x: Introduction to Computational Thinking and Data Science</a></td><td id="resumeright" class="align-text-top">12/23/2016</td>
                  </tr>
                  <tr>
                      <td id="resumeleft"></td><td id="resumecenter"><i class="fab fa-github"></i><a href="https://github.com/chichutschang/6.00.2x-3T2016/tree/master/Quiz" target="_blank" id="learningprojects"> Quiz</a></td><td id="resumeright"></td>
                  </tr>
                  <tr>
                      <td id="resumeleft"></td><td id="resumecenter"><i class="fab fa-github"></i><a href="https://github.com/chichutschang/6.00.2x-3T2016/tree/master/Unit%201" target="_blank" id="learningprojects"> Unit 1</a></td><td id="resumeright"></td>
                  </tr>
                  <tr>
                      <td id="resumeleft"></td><td id="resumecenter"><i class="fab fa-github"></i><a href="https://github.com/chichutschang/6.00.2x-3T2016/tree/master/Unit%202" target="_blank" id="learningprojects"> Unit 2</a></td><td id="resumeright"></td>
                  </tr>
                  <tr>
                      <td id="resumeleft"></td><td id="resumecenter"><i class="fab fa-github"></i><a href="https://github.com/chichutschang/6.00.2x-3T2016/tree/master/Unit%203" target="_blank" id="learningprojects"> Unit 3</a></td><td id="resumeright"></td>
                  </tr>
                  <tr>
                      <td id="resumeleft"></td><td id="resumecenterbottom"><i class="fab fa-github"></i><a href="https://github.com/chichutschang/6.00.2x-3T2016/tree/master/Unit%204" target="_blank" id="learningprojects"> Unit 4</a></td><td id="resumerightbottom"></td>
                  </tr>

                  <tr>
                      <td id="resumeleft"></td><td id="resumecenter"><b>HarvardX - </b><a href="https://courses.edx.org/certificates/af6f54cc4f7a49039c2a4141523d8f6d">CS50: Introduction to Computer Science</a></td><td id="resumeright" class="align-text-top">11/13/2016</td>
                  </tr>
                  <tr>
                      <td id="resumeleft"></td><td id="resumecenter"><i class="fab fa-github"></i><a href="https://github.com/chichutschang/CS50/tree/master/pset1" target="_blank" id="learningprojects"> Pset 1</a></td><td id="resumeright"></td>
                  </tr>
                  <tr>
                    <td id="resumeleft"></td><td id="resumecenter"><i class="fab fa-github"></i><a href="https://github.com/chichutschang/CS50/tree/master/pset2" target="_blank" id="learningprojects"> Pset 2</a></td><td id="resumeright"></td>
                  </tr>
                  <tr>
                    <td id="resumeleft"></td><td id="resumecenter"><i class="fab fa-github"></i><a href="https://github.com/chichutschang/CS50/tree/master/pset3" target="_blank" id="learningprojects"> Pset 3</a></td><td id="resumeright"></td>
                  </tr>
                  <tr>
                    <td id="resumeleft"></td><td id="resumecenter"><i class="fab fa-github"></i><a href="https://github.com/chichutschang/CS50/tree/master/pset4" target="_blank" id="learningprojects"> Pset 4</a></td><td id="resumeright"></td>
                  </tr>
                  <tr>
                    <td id="resumeleft"></td><td id="resumecenter"><i class="fab fa-github"></i><a href="https://github.com/chichutschang/CS50/tree/master/pset5" target="_blank" id="learningprojects"> Pset 5</a></td><td id="resumeright"></td>
                  </tr>
                  <tr>
                    <td id="resumeleft"></td><td id="resumecenter"><i class="fab fa-github"></i><a href="https://github.com/chichutschang/CS50/tree/master/pset6" target="_blank" id="learningprojects"> Pset 6</a></td><td id="resumeright"></td>
                  </tr>
                  <tr>
                    <td id="resumeleft"></td><td id="resumecenter"><i class="fab fa-github"></i><a href="https://github.com/chichutschang/CS50/tree/master/pset7" target="_blank" id="learningprojects"> Pset 7</a></td><td id="resumeright"></td>
                  </tr>
                  <tr>
                    <td id="resumeleft"></td><td id="resumecenter"><i class="fab fa-github"></i><a href="https://github.com/chichutschang/CS50/tree/master/pset8" target="_blank" id="learningprojects"> Pset 8</a></td><td id="resumeright"></td>
                  </tr>
                  <tr>
                    <td id="resumeleft"></td><td id="resumecenterbottom"><i class="fas fa-link"></i><a href="http://chi-chu.tschang.net/projects/shotchart" id="learningprojects"> Final Project</a></td><td id="resumerightbottom"></td>
                  </tr>

                  <tr>
                    <td id="resumeleft"></td><td id="resumecenterbottom"><b>MIT Professional Education - </b><a href="https://mitprofessionalx.mit.edu/certificates/d507f5a875404fe8ba5a0994821ce4f4" target="_blank">Internet of Things: Roadmap to a Connected World</a></td><td id="resumerightbottom" class="align-text-top">11/10/2016</td>
                  </tr>
                  <tr>
                      <td id="resumeleft"></td><td id="resumecenterbottom"><b>Microsoft - </b><a href="https://courses.edx.org/certificates/189263f3f23f4a5faab77833b3ef29c1">DAT208x: Introduction to Python for Data Science</a></td><td id="resumerightbottom" class="align-text-top">11/8/2016</td>
                  </tr>
                  <tr>
                      <td id="resumeleft"></td><td id="resumecenter"><b>MITx - </b><a href="https://courses.edx.org/certificates/f92cb8b6df0a41378821cc8eb31e72ed">6.00.1x: Introduction to Computer Science and Programming Using Python</a></td><td id="resumeright" class="align-text-top">11/4/2016</td>
                  </tr>
                  <tr>
                      <td id="resumeleft"></td><td id="resumecenter"><i class="fab fa-github"></i><a href="https://github.com/chichutschang/6.00.1x-2T2016/tree/master/Week%201" target="_blank" id="learningprojects"> Week 1</a></td><td id="resumeright"></td>
                  </tr>
                  <tr>
                      <td id="resumeleft"></td><td id="resumecenter"><i class="fab fa-github"></i><a href="https://github.com/chichutschang/6.00.1x-2T2016/tree/master/Week%202" target="_blank" id="learningprojects"> Week 2</a></td><td id="resumeright"></td>
                  </tr>
                  <tr>
                      <td id="resumeleft"></td><td id="resumecenter"><i class="fab fa-github"></i><a href="https://github.com/chichutschang/6.00.1x-2T2016/tree/master/Week%203" target="_blank" id="learningprojects"> Week 3</a></td><td id="resumeright"></td>
                  </tr>
                  <tr>
                      <td id="resumeleft"></td><td id="resumecenter"><i class="fab fa-github"></i><a href="https://github.com/chichutschang/6.00.1x-2T2016/tree/master/Mid-Term" target="_blank" id="learningprojects"> Mid-Term</a></td><td id="resumeright"></td>
                  </tr>
                  <tr>
                      <td id="resumeleft"></td><td id="resumecenter"><i class="fab fa-github"></i><a href="https://github.com/chichutschang/6.00.1x-2T2016/tree/master/Week%204" target="_blank" id="learningprojects"> Week 4</a></td><td id="resumeright"></td>
                  </tr>
                  <tr>
                      <td id="resumeleft"></td><td id="resumecenter"><i class="fab fa-github"></i><a href="https://github.com/chichutschang/6.00.1x-2T2016/tree/master/Week%205" target="_blank" id="learningprojects"> Week 5</a></td><td id="resumeright"></td>
                  </tr>
                  <tr>
                      <td id="resumeleft"></td><td id="resumecenter"><i class="fab fa-github"></i><a href="https://github.com/chichutschang/6.00.1x-2T2016/tree/master/Week%206" target="_blank" id="learningprojects"> Week 6</a></td><td id="resumeright"></td>
                  </tr>
                  <tr>
                      <td id="resumeleft"></td><td id="resumecenterbottom"><i class="fab fa-github"></i><a href="https://github.com/chichutschang/6.00.1x-2T2016/tree/master/Final%20Exam" target="_blank" id="learningprojects"> Final Exam</a></td><td id="resumerightbottom"></td>
                  </tr>
                  <tr>
                      <td id="resumeleft">miscellaneous</td><td id="resumecenterbottom"><b>SmithsonianX - </b><a href="https://s3.amazonaws.com/verify.edx.org/downloads/d1efff6f361c45d6b9595c735d4f4666/Certificate.pdf" target="_blank">POPX1.1x: The Rise of Superheroes and Their Impact On Pop Culture</a></td><td id="resumerightbottom">7/22/2015</td>
                  </tr>
                  <tr>
                      <td id="resumeleft"></td><td id="resumecenterbottom"><b>MITx - </b><a href="https://s3.amazonaws.com/verify.edx.org/downloads/c53e471edca64b5e8adc7c844c365af4/Certificate.pdf" target="_blank">15.390.1x: Entrepreneurship 101</a></td><td id="resumerightbottom">4/3/2015</td>
                  </tr>
                </tbody>
            </table>
            <div id="lastupdate">last updated: 8/2020</div>
            </div>
        </div>
      </content>
    </div>
  </body>
<footer><% include partials/footer %></footer>
</html>
