<nav>
  <% include partials/header %>
</nav>

<!doctype html>
<html>
  <div class="container-fluid">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <div id="content">
      <content>
        <table>
          <tbody>This webpage is to post the soil moisture sensor data</a>. Nothing to see here. Move along.</tbody>
          <script src=""></script>
        </table>
      </content>
    </div>
  </body>
  <footer><% include partials/footer %></footer>
  </div>
</html>
