<%- include('partials/head') %>

<!doctype html>
  <html>
    <div class="container-fluid">
      <head>
        <%- include('partials/header') %>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@observablehq/inspector@5/dist/inspector.css">
        <script type="module">
        import {Runtime, Inspector} from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@5/dist/runtime.js";
        import define from "https://api.observablehq.com/@tschang/aapl@982.js?v=3";
        new Runtime().module(define, name => {
          if (name === "chart2") return new Inspector(document.querySelector("#observablehq-chart2-b355dc98"));
        });
      </script>
      </head>
      <body>
        <div id="content">
            <content>
                <div id="projects">
                  <div class="row no-gutters">
                    <div class="col-md-10 col-sm-6" style="padding-top: 10px"><a href="/projects/aapl"><font-color="black"><h6><b>Apple Inc share price</b></h6></font-color></a></div><div class="col-md-2 col-sm-6" style="padding-top: 10px"><font-color="gray">7/2023</font-color>
                    </div>
                </div>
                    <div>
                      <a href="/projects/aapl"><div id="observablehq-chart2-b355dc98" width="100%" height="auto" style="padding-left: 0px" align-content: left></div></a>
                    </div>
                  <div class="row no-gutters">
                        <div class="col-md-10 col-sm-6" style="padding-top: 10px"><a href="/projects/plants"><font-color="black"><h6><b>Internet of Things plant monitor</b></h6></font-color></a></div><div class="col-md-2 col-sm-6" style="padding-top: 10px"><font-color="gray">7/2020</font-color>
                        </div>
                    </div>
                        <div>
                          <a href="/projects/plants"><img src="/images/moisture.png" width="90%" height="auto" align-content: left></a>
                        </div>
                    <div class="row no-gutters">
                    <div class="col-md-10 col-sm-6" style="padding-top: 10px"><a href="/projects/shotchart"><font-color="black"><h6><b>LeBron James' career shot chart [2003-04 to 2016-17]</b></h6></font-color></a></div><div class="col-md-2 col-sm-6" style="padding-top: 10px"><font-color="gray">11/2016</font-color>
                    </div>
                        <div>
                          <a href="/projects/shotchart"><img src="/images/LeBron James shot chart project.png" width="90%" height="auto" style="padding-left: 0px" align-content: left></a>
                        </div>
                    <div class="row no-gutters">
                        <div class="col-md-10 col-sm-6" style="padding-top: 10px"><a href="/projects/censor-weibo"><font-color="black"><h6><b>Reverse Engineering Chinese censorship</b></h6></font-color></a></div><div class="col-md-2 col-sm-6" style="padding-top: 10px"><font-color="gray">5/2012</font-color>
                        </div>
                        <div>
                          <a href="/projects/censor-weibo"><img src="/images/censored_weibo_timeline1.png" width="90%" height="auto" style="padding-left: 0px" align-content: left></a>
                        </div>    
                </div>
            </content>  
        </div>
    </body>  
      <%- include('partials/footer') %>
    </div>
</html>