<!doctype html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <nav>
      <% include partials/header %>
    </nav>

    <div id="content">
      <content>
        <div id="projects">
          <div class="row">
            <div class="col-md-10 col-sm-6" style="padding-top: 10px"><a href="/projects/shotchart"><font color="black"><h6><b>LeBron James' career shot chart [2003-04 to 2016-17]</b></h6></font></a></div><div class="col-md-2 col-sm-6" style="padding-top: 10px"><font color="gray">11/2016</font></div>
            <div><a href="/projects/shotchart"><img src="/images/LeBron James shot chart project.png" width="90%" height="auto" style="padding-left: 15px" align-content: left></a></div>
            </div>
            <br>
            <div class="row">
            <div class="col-md-10 col-sm-6" style="padding-top: 10px"><a href="/projects/censor-weibo"><font color="black"><h6><b>Reverse Engineering Chinese censorship</b></h6></font></a></div><div class="col-md-2 col-sm-6" style="padding-top: 10px"><font color="gray">5/2012</font></div>
            <div><a href="/projects/censor-weibo"><img src="/images/censored_weibo_timeline1.png" width="90%" height="auto" style="padding-left: 15px" align-content: left></a></div>
        </content>
      </div>
    </div>
    </body>
  </body>
<footer><% include partials/footer %></footer>
</html>
