<!doctype html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <nav>
      <% include partials/header %>
    </nav>

    <div id="content">
      <content>
        <div id="resume">
              <table>
                <tbody>
                  <tr>
                    <td id="resumeleft">experience</td><td id="resumecenter">teacher</td><td id="resumeright">8/2019 - present</td>
                  </tr>
                  <tr>
                    <td id="resumeleft"></td><td id="resumecenter">English department</td><td id="resumeright">Albany, California</td>
                  </tr>
                  <tr>
                    <td id="resumeleft"></td><td id="resumecenterbottom"><a href="https://ahs.ausdk12.org/">Albany High School</a></td><td id="resumerightbottom" class="align-text-top">United States</td>
                  </tr>
                  <tr>
                    <td id="resumeleft"></td><td id="resumecenter">long-term substitute teacher</td><td id="resumeright">11/2017 - 6/2018</td>
                  </tr>
                  <tr>
                    <td id="resumeleft"></td><td id="resumecenter">English department</td><td id="resumeright">Arlington, Massachusetts</td>
                  </tr>
                  <tr>
                    <td id="resumeleft"></td><td id="resumecenterbottom"><a href="http://www.arlington.k12.ma.us">Arlington High School</a></td><td id="resumerightbottom" class="align-text-top">United States</td>
                  </tr>
                  <tr>
                    <td id="resumeleft"></td><td id="resumecenter">Excel Fellow</td><td id="resumeright">8/2017 - 11/2017</td>
                  </tr>
                  <tr>
                    <td id="resumeleft"></td><td id="resumecenter">English department</td><td id="resumeright">Boston, Massachusetts</td>
                  </tr>
                  <tr>
                    <td id="resumeleft"></td><td id="resumecenterbottom"><a href="http://www.excelacademy.org/">Excel Academy Charter Schools</a></td><td id="resumerightbottom" class="align-text-top">United States</td>
                  </tr>
                  <tr>
                    <td id="resumeleft"></td><td id="resumecenter">senior program manager</td><td id="resumeright">5/2014 - 5/2017</td>
                  </tr>
                  <tr>
                    <td id="resumeleft"></td><td id="resumecenter"><a href="http://odl.mit.edu">Office of Digital Learning Incubation</a></td><td id="resumeright">Cambridge, Massachusetts</td>
                  </tr>
                  <tr>
                    <td id="resumeleft"></td><td id="resumecenterbottom"><a href="http://www.mit.edu">Massachusetts Institute of Technology</a></td><td id="resumerightbottom" class="align-text-top">United States</td>
                  </tr>
                  <tr>
                    <td id="resumeleft"></td><td id="resumecenter">associate</td><td id="resumeright">7/2012 - 5/2014</td>
                  </tr>
                  <tr>
                    <td id="resumeleft"></td><td id="resumecenter">equity research</td><td id="resumeright">Hong Kong</td>
                  </tr>
                  <tr>
                    <td id="resumeleft"></td><td id="resumecenterbottom" class="align-text-top"><a href="http://jpmorgan.com">JP Morgan</a></td><td id="resumerightbottom">Special Administrative Region</td>
                  </tr>
                  <tr>
                    <td id="resumeleft"></td><td id="resumecenter">summer associate</td><td id="resumeright">6/2011 - 8/2011</td>
                  </tr>
                  <tr>
                    <td id="resumeleft"></td><td id="resumecenter">equity research</td><td id="resumeright">Hong Kong</td>
                  </tr>
                  <tr>
                    <td id="resumeleft"></td><td id="resumecenterbottom" class="align-text-top"><a href="http://jpmorgan.com">JP Morgan</a></td><td id="resumerightbottom">Special Administrative Region</td>
                  </tr>
                  <tr>
                    <td id="resumeleft"></td><td id="resumecenter">analyst</td><td id="resumeright">5/2009 - 3/2010</td>
                  </tr>
                  <tr>
                    <td id="resumeleft"></td><td id="resumecenter">solar team</td><td id="resumeright">Beijing</td>
                  </tr>
                  <tr>
                    <td id="resumeleft"></td><td id="resumecenterbottom"><a href="http://www.newenergyfinance.com">New Energy Finance</a></td><td id="resumerightbottom">People's Republic of China</td>
                  </tr>
                  <tr>
                    <td id="resumeleft"></td><td id="resumecenter">correspondent</td><td id="resumeright">4/2007 - 3/2009</td>
                  </tr>
                  <tr>
                    <td id="resumeleft"></td><td id="resumecenter">Beijing bureau</td><td id="resumeright">Beijing</td>
                  </tr>
                  <tr>
                    <td id="resumeleft"></td><td id="resumecenterbottom"><a href="http://www.businessweek.com">BusinessWeek</a></td><td id="resumerightbottom">People's Republic of China</td>
                  </tr>
                  <tr>
                    <td id="resumeleft"></td><td id="resumecenter">correspondent</td><td id="resumeright">3/2004 - 3/2007</td>
                  </tr>
                  <tr>
                    <td id="resumeleft"></td><td id="resumecenter">Beijing bureau</td><td id="resumeright">Beijing</td>
                  </tr>
                  <tr>
                    <td id="resumeleft"></td><td id="resumecenterbottom"><a href="http://www.straitstimes.com">The Straits Times</a></td><td id="resumerightbottom">People's Republic of China</td>
                  </tr>
                  <tr>
                    <td id="resumeleft"></td><td id="resumecenter">correspondent</td><td id="resumeright">11/2002 - 9/2003</td>
                  </tr>
                  <tr>
                    <td id="resumeleft"></td><td id="resumecenter">Beijing bureau</td><td id="resumeright">Beijing</td>
                  </tr>
                  <tr>
                    <td id="resumeleft"></td><td id="resumecenterbottom"><a href="http://www.bloomberg.com">Bloomberg</a></td><td id="resumerightbottom">People's Republic of China</td>
                  </tr>
                  <tr>
                    <td id="resumeleft"></td><td id="resumecenter">correspondent</td><td id="resumeright">9/2000 - 6/2002</td>
                  </tr>
                  <tr>
                    <td id="resumeleft"></td><td id="resumecenter">Business Post</td><td id="resumeright">Hong Kong</td>
                  </tr>
                  <tr>
                    <td id="resumeleft"></td><td id="resumecenterbottom" class="align-text-top"><a href="http://www.scmp.com">South China Morning Post</a></td><td id="resumerightbottom">Special Administrative Region</td>
                  </tr>
                  <tr>
                    <td id="resumeleft" class="align-text-top">education</td><td id="resumecenter"><a href="http://fresnostate.edu/kremen/">Kremen School of Education and Human Development, Fresno State</a></td><td id="resumeright" class="align-text-top">2018 - present</td>
                  </tr>
                  <tr>
                      <td id="resumeleft"></td><td id="resumecenterbottom">Master's in Education & Single Subject English Credential Program</td><td id="resumerightbottom">Fresno, California</td>
                  </tr>
                  <tr>
                    <td id="resumeleft"></td><td id="resumecenter"><a href="http://sloan.mit.edu">MIT Sloan School of Management</a></td><td id="resumeright">2010 - 2012</td>
                  </tr>
                  <tr>
                    <td id="resumeleft"></td><td id="resumecenterbottom">Master's in Business Administration</td><td id="resumerightbottom">Cambridge, Massachusetts</td>
                  </tr>
                  <tr>
                    <td id="resumeleft"></td><td id="resumecenter"><a href="http://www.sais-jhu.edu/graduate-studies/campuses/nanjing-china#about-hopkins-nanjing-center">John Hopkins University (SAIS)</a></td><td id="resumeright">1999 - 2000</td>
                  </tr>
                  <tr>
                    <td id="resumeleft"></td><td id="resumecenterbottom">Hopkins-Nanjing Center</td><td id="resumerightbottom">Nanjing, Jiangsu province</td>
                  </tr>
                  <tr>
                    <td id="resumeleft"></td><td id="resumecenter"><a href="http://www.duke.edu">Duke University</a></td><td id="resumeright">1993 - 1996</td>
                  </tr>
                  <tr>
                    <td id="resumeleft"></td><td id="resumecenterbottom">Bachelor of Arts, History</td><td id="resumerightbottom">Durham, North Carolina</td>
                  </tr>

                <tr>
                  <td id="resumeleft">awards</td><td id="resumecenter"><a href="https://opcofamerica.org/maurice-castagne/">Overseas Press Club Awards</a></td><td id="resumeright">2008</td>
                </tr>
                <tr>
                  <td id="resumeleft"></td><td id="resumecenterbottom">Morton Frank Award for Best Business Reporting Abroad</td><td id="resumerightbottom"></td><td id="resumerightbottom"></td>
                </tr>
                <tr>
                  <td id="resumeleft"></td><td id="resumecenter"><a href="http://ire.org/awards/ire-awards/winners/2008-ire-awards-winners/">Investigative Reporters and Editors Award</a></td><td id="resumeright">2008</td>
                </tr>
                <tr>
                  <td id="resumeleft"></td><td id="resumecenterbottom">Magazine Category</td><td id="resumerightbottom"></td>
                </tr>
                <tr>
                  <td id="resumeleft"></td><td id="resumecenter"><a href="http://www.deadlineclub.org/archives/129">Deadline Club Awards</a></td><td id="resumeright">2008</td>
                </tr>
                <tr>
                  <td id="resumeleft"></td><td id="resumecenterbottom">Business News, Series or Investigative Reporting</td><td id="resumerightbottom"></td>
                </tr>
              <tr>
                <td id="resumeleft">languages</td><td id="resumecenter">English</td><td id="resumeright">&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;</td>
              </tr>
              <tr>
                <td id="resumeleft"></td><td id="resumecenter">Mandarin</td><td id="resumeright">&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;</td>
              </tr>
              <tr>
                <td id="resumeleft"></td><td id="resumecenter">Cantonese</td><td id="resumeright">&bull;&bull;&bull;&bull;&bull;&bull;&bull;</td>
              </tr>
              <tr>
                <td id="resumeleft"></td><td id="resumecenter">HTML</td><td id="resumeright">&bull;&bull;&bull;&bull;&bull;</td>
              </tr>
              <tr>
                <td id="resumeleft"></td><td id="resumecenter">CSS</td><td id="resumeright">&bull;&bull;&bull;&bull;&bull;</td>
              </tr>
              <tr>
                <td id="resumeleft"></td><td id="resumecenter">C</td><td id="resumeright">&bull;&bull;&bull;</td>
              </tr>
              <tr>
                <td id="resumeleft"></td><td id="resumecenter">Python</td><td id="resumeright">&bull;&bull;&bull;</td>
              </tr>
              <tr>
                <td id="resumeleft"></td><td id="resumecenter">Javascript</td><td id="resumeright">&bull;&bull;&bull;</td>
              </tr>
              <tr>
                <td id="resumeleft"></td><td id="resumecenter">Node JS</td><td id="resumeright">&bull;&bull;</td>
              </tr>
            </tbody>
          </table>
            <div id="lastupdate">last updated: 8/2019</div>
            </div>
        </div>
      </content>
    </div>
  </body>
<footer><% include partials/footer %></footer>
  <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-28397530-1', 'auto');
    ga('send', 'pageview');
  </script>
</html>
