<nav>
  <% include partials/header %>
</nav>

<!doctype html>
<html>
  <div class="container-fluid">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <div id="content">
      <content>
        <table class="table table-bordered" >
          <div class="row col">
          <thead>
            <tr>
              <th class="col-3">2019/2020</th>
              <th class="col-3 english1">English 1</th>
              <th class="col-3">English 2</th>
            </tr>
          </thead>
          <tbody>
            <tr data-toggle="collapse" data-target="#purpose-of-education" class="clickable english1">
              <td class="col-3">Purpose of Education</td>
              <td class="col-3"></td>
              <td class="col-3"></td>
              <td class="col-3"></td>
            </tr>
            <tr class="collapse col-3 english1" id="purpose-of-education">
            <!-- <tr class="collapse col-3 english1" id=""> -->
              <td>Week 1</td>
              <td>Day 1
                <ul class="outside">
                  <li><a href="https://docs.google.com/document/d/1p9NhRn4ds4yZeUjMfFhtTWvEbKnE7ndyHMzyuBVp-UQ/edit?usp=sharing">Lesson Plan</a></li>
                  <li><a href="https://docs.google.com/presentation/d/17q4TszBCVb7babhkfD2AAHcK9ptvmkrv-CpY8feiXiQ/edit?usp=sharing">Slides</a></li>
                  <li><a href="https://docs.google.com/document/d/1mzMG0HjHOBZedbkGJKqF-OMJoaHxqr0poz9TMzWn-xw/edit?usp=sharing">Syllabus</a></li>
                  <li><a href="https://docs.google.com/document/d/1ZbGCvg7WWcX2cd8OvSDZiqXe6dUkA8igIdjVJ9g-iB8/edit?usp=sharing">Letter to Teacher</a></li>
                </ul>
              </td>
              <td>Day 2
                <ul class="outside">
                  <li><a href="https://docs.google.com/document/d/1Fw3ATnarbrRSXwA7RHiGJytVFpy36iPm_TYxsXuxpGs/edit?usp=sharing">Lesson Plan</a></li>
                  <li><a href="https://docs.google.com/presentation/d/1L3Z8JEyKdei3chHpAc7PiIQNgJsKt1E2aNvXJDXLxFw/edit?usp=sharing">Slides</a></li>
                </ul>
              </td> 
              <td>Day 3/4
                <ul class="outside">
                  <li><a href="https://docs.google.com/document/d/1ZQQeVKDIsA9G7uco7TFqaB6bcjoyaIsdbu0CxIEb0pc/edit?usp=sharing">Lesson Plan</a></li>
                  <li><a href="https://docs.google.com/presentation/d/1icKVAhoaK5dDkoWRl_3FWjE6q372hi1x4hu2Yp2Aw6c/edit?usp=sharing">Slides</a></li>
                </ul>
              </td>
            </tr>
            <tr class="collapse col-3 english1" id="purpose-of-education">
            <!-- <tr class="collapse col-3 english1" id=""> -->
              <td>Week 2</td>
              <td>Labor Day</td>
              <td>Day 5/6
                <ul class="outside">
                  <li><a href="https://docs.google.com/document/d/1F3PjfWzVuOz8MwCUsRYVy477vPggddmmCZSjB2rtJ7I/edit?usp=sharing">Lesson Plan</a></li>
                  <li><a href="https://docs.google.com/presentation/d/1uHq68xntJ_5dkxKwV5SPH8ZYyxiva-c4HD5ujZ3vkNQ/edit?usp=sharing">Slides</a></li>
                  <li><a href="https://docs.google.com/document/d/1URdDT0c5AQIsyU7TmRqDh_PsA4NI49Kx68RGGzyx3ss/edit?usp=sharing">What is Intelligence, Anyway?</a></li>
                </ul>
              </td>
              <td>Day 7/8
                <ul class="outside">
                  <li><a href="https://docs.google.com/document/d/1YdfoaB9AvtWAiCtjlzewuSksMq69AzDYRqqPL9XFmuI/edit?usp=sharing">Lesson Plan</a></li>
                  <li><a href="https://docs.google.com/presentation/d/1wJL9hgm6rsn0O48cAuLKTZwETjnjtpc63wGDQ6cvmuI/edit?usp=sharing">Slides</a></li>
                </ul>
              </td>
            </tr>
            <tr class="collapse col-3 english1" id="purpose-of-education">
              <!-- <tr class="collapse col-3 english1" id=""> -->
                <td>Week 3</td>
                <td>Day 9
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1M7_sKN9h3wchfX1n9cCQvYDfYPATARa1U4V97sknfpc/edit?usp=sharing">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1g_KS8RszLJRMZ0m7itAoD2KK9q6w_rsYDk8Tj2gFhug/edit?usp=sharing">Slides</a></li>
                    <li><a href=""></a></li>
                  </ul>
                </td>
                <td>Day 10/11
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1tyKtVp0VtsWw7lD-YVvwE7KKE6rByXs69VOVwg1s68U/edit?usp=sharing">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/19iNQdbcy0gezMfztGj9hQrl8SPrs7Zlu4WMLs1UoqK0/edit?usp=sharing">Slides</a></li>
                  </ul>
                </td>
                <td>Day 12/13
                  <ul class="outside">
                    <li><a href="https://docs.google.com/document/d/1FNPbIIeWgkgG788GPnYyNqo4FqfOOr-XRxzGPnyIBc0/edit?usp=sharing">Lesson Plan</a></li>
                    <li><a href="https://docs.google.com/presentation/d/10bENTu08ALSJ06xE43f4mHhU5J67dx-hiF-qLf3WH2I/edit?usp=sharing">Slides</a></li>
                    <li><a href="https://docs.google.com/document/d/1jRgwEGZwtJrBBQrGNOPh-zElMUpljspKM-hc6yhWvEU/edit?usp=sharing">The Game of School Reflection</a></li>
                  </ul>
                </td>
              </tr>
              <tr class="collapse col-3 english1" id="purpose-of-education">
                <!-- <tr class="collapse col-3 english1" id=""> -->
                  <td>Week 4</td>
                  <td>Day 14
                    <ul class="outside">
                      <li><a href="https://docs.google.com/document/d/1x_XMsnaQOhkvGCHN4aQSdSd6hUAVB52nB_RlLyVvMpc/edit?usp=sharing">Lesson Plan</a></li>
                      <li><a href="https://docs.google.com/presentation/d/1N68vRcMwbL8BlS0xjCRGbhziaFNcWxlumfeP_UrVqD0/edit?usp=sharing">Slides</a></li>
                      <li><a href=""></a></li>
                    </ul>
                  </td>
                  <td>Day 15/16
                    <ul class="outside">
                      <li><a href="https://docs.google.com/document/d/1TmHVQg3d_qfkypnAOOfKxpDcD-EmM3rxdvjphMNnC3I/edit?usp=sharing">Lesson Plan</a></li>
                      <li><a href="https://docs.google.com/presentation/d/1h_l3xtCaEbV9vsIkz7RCHNYwzZmKAXOFyKR1K9gWeZw/edit?usp=sharing">Slides</a></li>
                    </ul>
                  </td>
                  <td>Day 17/18
                    <ul class="outside">
                      <li><a href="https://docs.google.com/document/d/1Djna7hXrJ7deykfJo4zb05hAwEE2zmYjzxE24wh6-CQ/edit?usp=sharing">Lesson Plan</a></li>
                      <li><a href="https://docs.google.com/presentation/d/1YZH9j_wmlzu_fPChprQ9dUb4qBndnnmexcG403U7AfE/edit?usp=sharing">Slides</a></li>
                    </ul>
                  </td>
                </tr>
                <tr class="collapse col-3 english1" id="purpose-of-education">
                  <!-- <tr class="collapse col-3 english1" id=""> -->
                    <td>Week 5</td>
                    <td>Day 19
                      <ul class="outside">
                        <li><a href="https://docs.google.com/document/d/1XgNbIXZ1FCVe5K2Gb0PMO4-hxAB0K-jvBZ-Nb5_fsYo/edit?usp=sharing">Lesson Plan</a></li>
                        <li><a href="https://docs.google.com/presentation/d/1Ny4LGKBNUQrhOoRs-OB0lE-3Zbj5_qGHFhVZHveuCE8/edit?usp=sharing">Slides</a></li>
                        <li><a href="https://docs.google.com/document/d/1unaAEGeSFwT1AighqHlLrl11QsRzXKtlYG7vUEMZ2qQ/edit?usp=sharing">Essay: The Purpose of Education</a></li>
                      </ul>
                    </td>
                    <td>Day 20/21
                      <ul class="outside">
                        <li><a href="https://docs.google.com/document/d/1EhLOCJekIgvViaSSNAzu-b65AJs8VeA-TT5QqUnxXcA/edit?usp=sharing">Lesson Plan</a></li>
                        <li><a href="https://docs.google.com/presentation/d/1u8H43JJk-hbmRUq3zuOIVc1iT8Y-YeYXdXBA6cMuJ0g/edit?usp=sharing">Slides</a></li>
                      </ul>
                    </td>
                    <td>Day 22/23
                      <ul class="outside">
                        <li><a href="https://docs.google.com/document/d/12VFWYixFQCqvwirEB3iw6YqlQ8BUxCdaew-Kh_Y_cYI/edit?usp=sharing">Lesson Plan</a></li>
                        <li><a href="https://docs.google.com/presentation/d/1N-1H6h9R0rfDgQjQTGjJ2vxnKDZ1X_aQPrRcqb1kcPs/edit?usp=sharing">Slides</a></li>
                      </ul>
                    </td>
                  </tr>      
            <tr data-toggle="collapse" data-target="#the-house-on-mango-street" class="clickable english1">
              <td class="col-3">The House on Mango Street</td>
              <td class="col-3"></td>
              <td class="col-3"></td>
              <td class="col-3"></td>
            </tr>
            <tr class="collapse col-3 english1" id="the-house-on-mango-street">
              <td>Week 1</td>
              <td>Day 1
                <ul class="outside">
                  <li>Lesson Plan</li>
                  <li>Slides</li>
                </ul>
              </td>
              <td>Day 2/3
                <ul class="outside">
                  <li>Lesson Plan</li>
                  <li>Slides</li>
                </ul>
              </td>
              <td>Day 4/5
                <ul class="outside">
                  <li>Lesson Plan</li>
                  <li>Slides</li>
                </ul>
              </td>
            </tr>
            <tr data-toggle="collapse" data-target="#of-mice-and-men" class="clickable english1">
              <td class="col-3">Of Mice and Men</td>
              <td class="col-3"></td>
              <td class="col-3"></td>
              <td class="col-3"></td>
            </tr>
            <tr class="collapse col-3 english1" id="of-mice-and-men">
              <td>Week 1</td>
              <td>Day 1
                <ul class="outside">
                  <li>Lesson Plan</li>
                  <li>Slides</li>
                </ul>
              </td>
              <td>Day 2/3
                <ul class="outside">
                  <li>Lesson Plan</li>
                  <li>Slides</li>
                </ul>
              </td>
              <td>Day 4/5
                <ul class="outside">
                  <li>Lesson Plan</li>
                  <li>Slides</li>
                </ul>
              </td>
            </tr>
            <tr data-toggle="collapse" data-target="#murder-mystery" class="clickable english1">
              <td class="col-3">Murder Mystery</td>
              <td class="col-3"></td>
              <td class="col-3"></td>
              <td class="col-3"></td>
            </tr>
            <tr class="collapse col-3 english1" id="murder-mystery">
              <td>Week 1</td>
              <td>Day 1
                <ul class="outside">
                  <li>Lesson Plan</li>
                  <li>Slides</li>
                </ul>
              </td>
              <td>Day 2/3
                <ul class="outside">
                  <li>Lesson Plan</li>
                  <li>Slides</li>
                </ul>
              </td>
              <td>Day 4/5
                <ul class="outside">
                  <li>Lesson Plan</li>
                  <li>Slides</li>
                </ul>
              </td>
            </tr>
            <tr data-toggle="collapse" data-target="#forum" class="clickable english1">
              <td class="col-3">Forum Project</td>
              <td class="col-3"></td>
              <td class="col-3"></td>
              <td class="col-3"></td>
            </tr>
            <tr class="collapse col-3 english1" id="forum">
              <td>Week 1</td>
              <td>Day 1
                <ul class="outside">
                  <li>Lesson Plan</li>
                  <li>Slides</li>
                </ul>
              </td>
              <td>Day 2/3
                <ul class="outside">
                  <li>Lesson Plan</li>
                  <li>Slides</li>
                </ul>
              </td>
              <td>Day 4/5
                <ul class="outside">
                  <li>Lesson Plan</li>
                  <li>Slides</li>
                </ul>
              </td>
            </tr>
            <tr data-toggle="collapse" data-target="#animal-farm" class="clickable english1">
              <td class="col-3">Animal Farm</td>
              <td class="col-3"></td>
              <td class="col-3"></td>
              <td class="col-3"></td>
            </tr>
            <tr class="collapse col-3 english1" id="animal-farm">
              <td>Week 1</td>
              <td>Day 1
                <ul class="outside">
                  <li>Lesson Plan</li>
                  <li>Slides</li>
                </ul>
              </td>
              <td>Day 2/3
                <ul class="outside">
                  <li>Lesson Plan</li>
                  <li>Slides</li>
                </ul>
              </td>
              <td>Day 4/5
                <ul class="outside">
                  <li>Lesson Plan</li>
                  <li>Slides</li>
                </ul>
              </td>
            </tr>



          </tbody>
        </div>
        </table>
      </content>
    </div>
  </body>
  <footer><% include partials/footer %></footer>
  </div>
</html>
