<!doctype html>
<html>
  <td class="border align-text-top"><b>reading:</b></td><td class="border">
    <div style='display: inline-block' id='title'><%= title %></div> by <div style='display: inline-block' id='author'><%= author %></div>
    </td>
</html>
