<%- include('partials/head') %>

<!doctype html>
  <html>
    <div class="container-fluid">
      <head>
        <%- include('partials/header') %>
      </head>
      <body>
        <div id="content">
            <content>
                This webpage is to update the reading page</a>. Nothing to see here. Move along.
            </content>  
    </body>  
      <%- include('partials/footer') %>
    </div>
</html>