
<!doctype html>
<html>
  <div class="container-fluid">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <nav>
      <% include partials/header %>
    </nav>
    <div id="content">
      <content>
        <table>
          <tbody>This webpage is to update the reading page</a>. Nothing to see here. Move along.</tbody>
        </table>
      </content>
    </div>
  </body>
  <footer><% include partials/footer %></footer>
  </div>
</html>
