files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server

      server {
          listen       443;
          server_name  localhost;

          ssl                  on;
          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/certs/server.key;

          ssl_session_timeout  5m;

          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_prefer_server_ciphers   on;

          # For enhanced health reporting support, uncomment this block:

          #if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
          #    set $year $1;
          #    set $month $2;
          #    set $day $3;
          #    set $hour $4;
          #}
          #access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd;
          #access_log  /var/log/nginx/access.log  main;

          location / {
              proxy_pass  http://nodejs;
              proxy_set_header   Connection "";
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header        X-Forwarded-Proto https;
          }
      }
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      certificate file contents
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEogIBAAKCAQEAp4w6+0ZFdi8pGtgX+FqbAJeFDA0Gmohnt/bfO34PCwdy+FdDlBnK0meas3ZX
      m8B+xLEEUo8hdjXQF9nM7UXR9jzFIBvWqzuHb+t3EoJ6Uq37mDCElH651uNTOVOzes2d5Jw7brUt
      X76LzNxEYwCIXg95G/8nO664eoOCzhQY9spWf863Ettfx86nrD4q0Z9wuYc8KqIh6/YMeDlcY3aO
      TbVnMYs32KCSoka9kD0PL+yvcoGa1qSoCf4uWiK3KbKqIn2ABP/LhV7hJmQ25O0GbXE4flLjD/ak
      Ohu18/45T4byeQ47+LcjeansOzUmG0ybSiA0/DfzXl/BrQode9mucwIDAQABAoIBAB4mNMLcjUlM
      CTiEZCPTogrEOTPG8EZEf21yJg9dirVwXLbldQqkbYPZEtRyWidzxxv7woxcpyfPXSe9kIutwa9u
      lgZGHCXp62AvXdjd08cm+ZwUNvdFqolJlMM/FY/miiAGIQe14HlXH274v/GUufU7EY8BJf0uXpHl
      MleE9E0MJwil80t56Am4Cg9BfuDOKZQ8jS0sEDBeBii6AHHs4g0CEIphctvKEoWsXn8tJrTQl0Gp
      71Aw0a+sczotOrdLdEfvermAo/wd+z7kshAsIBUm3eh0eRO0WIYpfM06PxC/lBmnDS31F8WAc8mx
      uWJS2C0xKRcW1OeVnx2h7gj/+hECgYEA5I/bPoo29jOa2PNndcandRDu4WajY83fws3tgMl3Kcng
      9Y+x7xJaYAtENs6PdbZrauhYX4hY3Wcq98XztGKNTRl8+X9FyrKO8g6IQQfvOOAY3eYe1jkR82WH
      g1cIjfpx9WOv8X/eTnzg4YCQaZFeEAt3aziP0i59ggEWPr2XKTsCgYEAu6lK46yWAk0mrdma/HR3
      uZ1kHdwKyFqwytqMm8KxT2rXeJc74DmALCBhD2UwWRycYRR1DrcewCP2NVPwu8g0uFRl/r2Souu7
      yAAMC0qtQvEdgLTZbibP7uHG6GwNCs2noMbkMC8I2wJhjfihPWUs8WadtgbHaSOsLl10zMVK/CkC
      gYBXm0xODGxEskMIJUPiwOIu3O6zNsQp3R+Ha6c9Vft26QpxFUL+f+pkJe1flI0ocWN69tPoyjpF
      ouW1Uwq2eY/vnXVprH7z0r03ypovUvs+sabWZv4q3nUi9iebECEXSoejpzIpPvnW28bWqJCx5iZH
      wB1l26hEx80Tp5b/NWxbQQKBgA/nTvNwgt37D9YX5OyUKjlOv1dQeJF2Lhli4BurKj+ivFP57RcZ
      iGU08UTOvIQwyofnpevzVOXPpmPqkzI2y1D7xhEKm8y20Zknd93VHE3aBTgNG4gcPe7ur16vGYPa
      3ePgNyJmOgflccMIWRHM6zwiCCeO94NPhJ4BSY65AZvRAoGARRWqXFKVXZDikqJUpAgiJyl4hA9s
      jsdY31CXo9BJaqn0NH1ZH6qbrbWVv3u0k0cqYeLpwvaTDKcsSN5YD9r9hl2pPrkOSks64QLrm/QE
      Yp8G17CBDGvi9fK/1LWcEf842H1NMQYQ6JZY0cIe2gPCfiZ/hk7CVbj9PY5a6cwDliQ=
      -----END RSA PRIVATE KEY-----
