option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
    ProxyServer: nginx
    GzipCompression: true
  aws:elasticbeanstalk:container:nodejs:staticfiles:
    /public: /public
    /stylesheets: /public/stylesheets
    /images: /public/images
    /.well-known/acme-challenge: /.well-known/acme-challenge
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
